---
import HeadScripts from "../../components/HeadScripts.astro";
---
<!-- Make this page more about showcasing basic customer info, and annotated screenshots of your best designs.
It shouldn't read like a case study, but instead show craftmanship. -->
<html lang="en">
    <head>
        <meta name="robots" content="noindex" />
        <HeadScripts/>
    </head>
    
    <body>
    
    </body>
</html>