---
import HeadScripts from "../../components/HeadScripts.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import FAQItem from "../../components/FAQItem.astro";
import LookupCard from "../../components/LookupCard.astro";
import LookupCTA from "../../components/LookupCTA.astro";
import { Image } from 'astro:assets';
import LookupOverview from "../../images/lookup-overview.png";
import LighthouseExample from "../../images/tailwind-lh-screenshot.png";
import LookupMarquee from "../../components/LookupMarquee.astro";
import LookupFeatures from "../../components/LookupFeatures.astro";
---
<html lang="en">
    <head>
        <HeadScripts
            title="CRFT Lookup - Free BuiltWith Alternative"
            description="The CRFT Lookup is the free alternative to BuiltWith for up-to-date website technology detection, with added performance benchmarks, meta tag previews and sitemap visualization."
            ogImageUrl="https://www.crft.studio/open-graph-img.png"
        />
    </head>
    <body>
        <Navigation/>
        <section class="mt-20">
            <div class="container flex flex-col items-center">
                <div class="square-card p-1 aspect-square w-12 h-12 object-contain bg-green-950 flex items-center justify-center mb-6">
                    <svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 900">
                    <g fill="#fff">
                    <path d="M8 176c0 89.6.4 140.4 1.1 146.8 6.2 57.2 32.8 99.7 78.7 125.6 41.6 23.6 91.7 27.9 137.5 11.9 45-15.6 83.8-54.5 98.6-98.9 9.4-28.1 10.7-64.6 3.5-93.4-7.5-29.7-22.1-54.1-46.1-77.1-36.2-34.5-78.6-47.9-133.5-42.2l-5.8.6v63.8c0 35.2.3 63.9.6 63.9s1.9-.9 3.4-2c4.4-3.1 12.8-6.6 19.1-7.9 16.8-3.5 36.3 6.8 44 23.3 8.5 18.1 5.3 37.4-8.3 51-10.8 10.7-25.1 15.3-40.1 12.8-21.8-3.7-32.5-18.3-35.7-48.2-.6-5.8-1-60-1-138.3V39H8v137zM552.3 194.4c-11.3 2.8-21.7 12.7-24.9 23.5-2.2 7.2-1.5 17.3 1.7 23.7 5.7 12 17 18.6 31.9 18.7 14.4 0 25.8-6.3 31.8-17.7 2.4-4.6 2.7-6.2 2.7-15.1 0-9.2-.2-10.4-2.9-15.3-8-14.4-24.8-21.8-40.3-17.8zM618 336v128h70V208h-70v128zM702.3 295.2c.4 94.1.3 91.8 5.8 108.8 9.5 29.1 32.8 50.4 65.1 59.5 6.4 1.8 21.6 3.3 27.8 2.7l4-.4V392h-4c-6 0-13.6-1.9-17.2-4.3-6.7-4.6-9.6-11.4-10.7-25.4l-.6-8.3 15.5-.2 15.5-.3.3-37.3.2-37.2h-32v-71h-70.1l.4 87.2zM526 370.5V464h70V277h-70v93.5zM338 335.9c0 62.1.3 66.3 5.8 81.9 3.8 10.6 8.3 17.9 16.5 26.8 16.7 17.9 38.8 26.4 65.2 25.1 13.5-.8 20.4-2.5 32-8.3 18.1-8.9 33.2-25.3 40.8-44.4 5.5-13.9 5.7-16.9 5.7-80v-58h-70v55.5c0 60.2 0 60.5-5.4 64-3.7 2.4-12.1 2.3-15.5-.2-4.9-3.7-5-4.9-5-64.1L408 279h-70v56.9zM516.3 511c-9.7 2-20.4 10.4-25 19.9-2.3 4.7-2.8 6.9-2.8 13.6 0 7.1.4 8.8 3.3 14.7 6.8 13.8 22.2 21 38.6 17.9 8.2-1.5 14.1-4.7 19.6-10.8 17.4-19 6.4-49.6-19.8-55.2-5.9-1.2-7.9-1.2-13.9-.1zM572.3 610.7c.4 92.1.4 92.4 5.8 109.3 8.3 26.2 27.4 46.3 54.1 56.9 11.8 4.7 33.5 8.2 40.8 6.6l3-.7-.2-36.6-.3-36.7-7.2-.6c-16.8-1.5-23.6-9.6-25-29.6l-.6-8.3H674v-75h-31v-71h-71.1l.4 85.7zM689 653v128l35.3-.2 35.2-.3.5-55.5c.5-58.6.5-58.1 5.2-61.4 4.4-3.1 14.3-1.2 16.4 3.1.5 1 1.1 27 1.4 57.8l.5 56 35.3.3 35.2.2v-62.7c0-66.9-.5-74.8-5-88.5-6.7-19.7-22.3-34.4-40.7-38.3-14.3-3-27-1-40.7 6.3l-7.6 4.1V525h-71v128zM117.4 527.5c-.3.8-.4 38.2-.1 83.2.4 87.4.6 90.4 5.8 109.3 2.5 9.2 8.3 21.8 13.7 29.6 4.5 6.7 17.4 19.5 24.2 24.1 18.1 12.3 44 18.6 65.9 16.2 21.7-2.4 40.6-11.7 63.5-31.3l4.6-3.8 7.9 7c15.4 13.6 29.4 21.3 46.6 25.8 8.3 2.2 12.2 2.6 23 2.6 29.6 0 52-10 73.1-32.6 9.3-9.9 16.4-21.2 21-33.5 6.4-16.9 6.4-17.2 6.4-112.2V526h-96.9l-.4 75.7c-.4 83.6-.2 81.6-6.7 88.4-3.4 3.6-4.1 3.9-8.9 3.9-9.8 0-13.4-4.1-15.1-17.2-.5-4-1-39.6-1-79.1V526h-96.9l-.3 75.7-.3 75.8-2.3 5.6c-3.2 7.9-5.9 10.2-13 10.6-7.9.6-11.5-1.8-13.9-8.9-1.6-4.9-1.8-11.8-2.1-82.1l-.3-76.7h-48.5c-41.6 0-48.5.2-49 1.5zM488 687.5V781h70V594h-70v93.5z"></path>
                    </g></svg>
                </div>
                <h1 class="lg:text-5xl text-4xl text-center text-balance font-semibold lg:leading-snug leading-normal max-w-[800px]"><span class="card p-2 inline-block translate-y-2"><svg class="lg:w-[140px] w-[100px]" viewBox="0 0 132 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.47615 11.5709C6.47615 7.67882 8.42219 5.8923 16.6211 5.8923C21.6297 5.8923 26.8298 6.78556 30.5623 7.51931L31.7108 2.12783C27.2764 1.10696 21.6616 0.341309 16.3977 0.341309C4.46631 0.341309 0 4.26528 0 11.5709C0 18.8765 4.46631 22.8324 16.3977 22.8324C21.6616 22.8324 27.2764 22.0667 31.7108 21.0459L30.5623 15.6544C26.8298 16.3881 21.6297 17.2814 16.6211 17.2814C8.42219 17.2814 6.47615 15.4949 6.47615 11.5709ZM40.6676 22.4176V16.101H48.9303L56.7463 22.4176H64.8814L57.7353 16.8029L56.0125 15.7501L57.4162 15.7182C62.2335 15.3354 65.0728 13.0384 65.0728 8.25306C65.0728 2.54256 61.3402 0.66033 55.9806 0.66033H34.1914V22.4176H40.6676ZM40.6676 6.21132H55.3426C57.48 6.21132 58.3733 6.81746 58.3733 8.7635C58.3733 10.55 57.48 11.2519 55.3426 11.2519H40.6676V6.21132ZM74.3768 22.4176V15.3035H96.3257V10.1991H74.3768V6.21132H96.9319V0.66033H67.9006V22.4176H74.3768ZM111.951 6.21132V22.4176H118.427V6.21132H131.316V0.66033H99.0305V6.21132H111.951Z" fill="white"/>
                </svg></span><span class="absolute w-[1px] h-[1px] overflow-hidden">The CRFT</span> Lookup, a free BuiltWith alternative</h1>
                <p class="text-center text-pretty lg:text-xl text-lg mt-5 text-neutral-300 mb-7 max-w-[44ch]">The CRFT Lookup is the free alternative to BuiltWith for up-to-date website technology detection, with added performance benchmarks, meta tag previews and sitemap visualization.</p>
                <div class="flex flex-row gap-3 mb-10">
                    <a href="/lookup" class="primary-cta">Scan a website</a>
                    <!-- <a href="/audit" class="secondary-cta">See example report</a> -->
                </div>
                <Image src={LookupOverview} alt="Screenshot of CRFT Lookup report on TailwindCSS" class="rounded-none border border-neutral-700 shadow-2xl"/>
            </div>
        </section>
        <section class="mt-20">
            <LookupMarquee/>
        </section>
        <section>
            <LookupFeatures/>
        </section>
        <section>
            <div class="container">
                <h2 class="lg:text-4xl text-3xl text-balance text-center font-medium text-neutral-200 lg:leading-snug leading-normal">How we stack up</h2>
                <p class="text-pretty text-lg text-center mt-3 text-neutral-300 mb-6 max-w-[800px] mx-auto">See how CRFT Lookup compares to BuiltWith in features and capabilities. Both tools detect technologies, but we go beyond with performance analysis and meta tag previews.</p>
                <div class="mt-12 lg:bg-transparent lg:border-0 square-card p-0 max-w-[800px] mx-auto">
                    <table class="w-full text-left lg:text-lg border-collapse">
                        <thead class="my-6 hidden lg:table-header-group">
                            <th></th>
                            <th>BuiltWith</th>
                            <th>CRFT Lookup</th>
                        </thead>
                        <tr>
                            <td>Technology Detection</td>
                            <td>
                                <div class="text-sm text-neutral-400 lg:hidden mb-2">BuiltWith</div>
                                <div>
                                    <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                                </div>
                            </td>
                            <td>
                                <div class="text-sm text-neutral-400 lg:hidden mb-2">CRFT Lookup</div>
                                <div>
                                    <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Lighthouse Analysis</td>
                            <td>
                                <div class="text-sm text-neutral-400 lg:hidden mb-2">BuiltWith</div>
                                <div>
                                    <svg class="flex-shrink-0 w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#EA3323"><path d="m336-293.85 144-144 144 144L666.15-336l-144-144 144-144L624-666.15l-144 144-144-144L293.85-624l144 144-144 144L336-293.85ZM480.07-100q-78.84 0-148.21-29.92t-120.68-81.21q-51.31-51.29-81.25-120.63Q100-401.1 100-479.93q0-78.84 29.92-148.21t81.21-120.68q51.29-51.31 120.63-81.25Q401.1-860 479.93-860q78.84 0 148.21 29.92t120.68 81.21q51.31 51.29 81.25 120.63Q860-558.9 860-480.07q0 78.84-29.92 148.21t-81.21 120.68q-51.29 51.31-120.63 81.25Q558.9-100 480.07-100Z"/></svg>
                                </div>
                            </td>
                            <td>
                                <div class="text-sm text-neutral-400 lg:hidden mb-2">CRFT Lookup</div>
                                <div>
                                    <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Meta Tag Previews</td>
                            <td>
                                <div class="text-sm text-neutral-400 lg:hidden mb-2">BuiltWith</div>
                                <div>
                                    <svg class="flex-shrink-0 w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#EA3323"><path d="m336-293.85 144-144 144 144L666.15-336l-144-144 144-144L624-666.15l-144 144-144-144L293.85-624l144 144-144 144L336-293.85ZM480.07-100q-78.84 0-148.21-29.92t-120.68-81.21q-51.31-51.29-81.25-120.63Q100-401.1 100-479.93q0-78.84 29.92-148.21t81.21-120.68q51.29-51.31 120.63-81.25Q401.1-860 479.93-860q78.84 0 148.21 29.92t120.68 81.21q51.31 51.29 81.25 120.63Q860-558.9 860-480.07q0 78.84-29.92 148.21t-81.21 120.68q-51.29 51.31-120.63 81.25Q558.9-100 480.07-100Z"/></svg>
                                </div>
                            </td>
                            <td>
                                <div class="text-sm text-neutral-400 lg:hidden mb-2">CRFT Lookup</div>
                                <div>
                                    <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Sitemap Visualization</td>
                            <td>
                                <div class="text-sm text-neutral-400 lg:hidden mb-2">BuiltWith</div>
                                <div>
                                    <svg class="flex-shrink-0 w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#EA3323"><path d="m336-293.85 144-144 144 144L666.15-336l-144-144 144-144L624-666.15l-144 144-144-144L293.85-624l144 144-144 144L336-293.85ZM480.07-100q-78.84 0-148.21-29.92t-120.68-81.21q-51.31-51.29-81.25-120.63Q100-401.1 100-479.93q0-78.84 29.92-148.21t81.21-120.68q51.29-51.31 120.63-81.25Q401.1-860 479.93-860q78.84 0 148.21 29.92t120.68 81.21q51.31 51.29 81.25 120.63Q860-558.9 860-480.07q0 78.84-29.92 148.21t-81.21 120.68q-51.29 51.31-120.63 81.25Q558.9-100 480.07-100Z"/></svg>
                                </div>
                            </td>
                            <td>
                                <div class="text-sm text-neutral-400 lg:hidden mb-2">CRFT Lookup</div>
                                <div>
                                    <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Free, Unlimited Tech Lookups</td>
                            <td>
                                <div class="text-sm text-neutral-400 lg:hidden mb-2">BuiltWith</div>
                                <div>
                                    <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                                </div>
                            </td>
                            <td class="">
                                <div class="text-sm text-neutral-400 lg:hidden mb-2">CRFT Lookup</div>
                                <div>
                                    <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <style>
                    @reference "../../styles/global.css";

                    td {
                        @apply p-3 border-b border-neutral-700;
                    }

                    @media (min-width: 1023px) {
                        tr:last-child td, tr:last-child th {
                            @apply border-b-0;
                        }
                    }

                    th {
                        @apply p-3 pb-6 font-medium;
                    }

                    tr :nth-child(3), th:nth-child(3) {
                        @apply bg-green-300/10;
                    }

                    @media (max-width: 1023px) {
                        tr, td {
                            @apply block;
                        }

                        tr:not(:first-child) td:first-child {
                            @apply pt-10 font-medium;
                        }
                    }
                </style>
            </div>
        </section>
        <section>
            <LookupCTA/>
        </section>
        <!-- <section id="reviews">
            <div class="container">
                <h2 class="text-3xl lg:text-4xl font-semibold text-center leading-tight mb-4 text-neutral-300">What the people are saying</h2>
                <p class="text-pretty text-lg text-center mt-3 text-neutral-300 mb-10 max-w-[800px] mx-auto">Here's what tech enthusiasts and developers alike are saying about the CRFT Lookup.</p>
                <div class="grid lg:grid-cols-4 md:grid-cols-3 gap-4">
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">Wow so cool!</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <div class="w-9 aspect-square rounded-full bg-neutral-600"></div>
                            <div>Josh B.</div>
                        </div>
                    </div>
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">Wow so cool!</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <div class="w-9 aspect-square rounded-full bg-neutral-600"></div>
                            <div>Bernard M.</div>
                        </div>
                    </div>
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">I've sometimes wondered what some really nice websites are made with, and now I can find out! And the performance scores help me understand if certain tools are worth learning and using.</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <img class="w-9 aspect-square rounded-full bg-neutral-600 object-cover" src="https://media.licdn.com/dms/image/v2/D5603AQHxdIAmxLMayA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1670345889715?e=2147483647&v=beta&t=ji1vN1QGdxB4oNfwFiHJmTzs2fE6Dr-yw9Ob1opIfvk"/>
                            <div>Nikita Singh</div>
                        </div>
                    </div>
                    <div class="square-card flex flex-col justify-between">
                        <div>
                            <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                            <p class="text-pretty text-lg text-neutral-300">This did a great job giving me insight into how some of my favorite sites are created and have inspired me to use them as templates!</p>
                        </div>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <img class="w-9 aspect-square rounded-full bg-neutral-600 object-cover" src="https://media.licdn.com/dms/image/v2/C4E03AQGoOqC90QjUyQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1651855081208?e=2147483647&v=beta&t=3lOi2HsbMfvwtsJhtPxOvXgRanVwZseBoKqRPT-4-Bw"/>
                            <div>Nick Hoban</div>
                        </div>
                    </div>
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">Wow so cool!</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <div class="w-9 aspect-square rounded-full bg-neutral-600"></div>
                            <div>Bhavishya P.</div>
                        </div>
                    </div>
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">Wow so cool!</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <div class="w-9 aspect-square rounded-full bg-neutral-600"></div>
                            <div>Scott B.</div>
                        </div>
                    </div>
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">Wow so cool!</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <div class="w-9 aspect-square rounded-full bg-neutral-600"></div>
                            <div>Andrea B.</div>
                        </div>
                    </div>
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">Wow so cool!</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <div class="w-9 aspect-square rounded-full bg-neutral-600"></div>
                            <div>Usama</div>
                        </div>
                    </div>
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">Wow so cool!</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <div class="w-9 aspect-square rounded-full bg-neutral-600"></div>
                            <div>Greg P.</div>
                        </div>
                    </div>
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">Wow so cool!</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <div class="w-9 aspect-square rounded-full bg-neutral-600"></div>
                            <div>Pietro S.</div>
                        </div>
                    </div>
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">Wow so cool!</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <div class="w-9 aspect-square rounded-full bg-neutral-600"></div>
                            <div>Nihal M.</div>
                        </div>
                    </div>
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">Wow so cool!</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <div class="w-9 aspect-square rounded-full bg-neutral-600"></div>
                            <div>Ian</div>
                        </div>
                    </div>
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">Wow so cool!</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <div class="w-9 aspect-square rounded-full bg-neutral-600"></div>
                            <div>Samuel Kambaji Ntambwe</div>
                        </div>
                    </div>
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">Wow so cool!</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <div class="w-9 aspect-square rounded-full bg-neutral-600"></div>
                            <div>Ryan H.</div>
                        </div>
                    </div>
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">Wow so cool!</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <div class="w-9 aspect-square rounded-full bg-neutral-600"></div>
                            <div>Navjot S.</div>
                        </div>
                    </div>
                    <div class="square-card">
                        <svg class="fill-neutral-500 w-8 rotate-180 mb-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m245.69-253.85 93.93-163.46q-3.46 1.92-8.08 2.69t-9.23.77q-61 0-103.58-42.96-42.57-42.96-42.57-103.19 0-61 42.57-103.58 42.58-42.57 103.58-42.57 60.23 0 103.19 42.57Q468.46-621 468.46-560q0 21.08-5.11 39.23-5.12 18.15-14.97 34.62l-133.77 232.3h-68.92Zm355.39 0L695-417.31q-3.46 1.92-8.08 2.69-4.61.77-9.23.77-61 0-103.57-42.96-42.58-42.96-42.58-103.19 0-61.38 42.58-103.77 42.57-42.38 103.57-42.38 60.23 0 103.19 42.57Q823.84-621 823.84-560q0 21.08-5.11 39.23-5.12 18.15-14.96 34.62L670-253.85h-68.92Z"></path></svg>
                        <p class="text-pretty text-lg text-neutral-300">Wow so cool!</p>
                        <div class="flex flex-row gap-2 items-center mt-5">
                            <div class="w-9 aspect-square rounded-full bg-neutral-600"></div>
                            <div>Lis K.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <section>
            <div class="container !max-w-[800px]">
                <h2 class="text-3xl lg:text-4xl font-semibold text-center leading-tight mb-10 text-neutral-300">Your questions, answered</h2>
                <FAQItem
                    question="How does the CRFT Lookup compare to BuiltWith?"
                    answer="While BuiltWith focuses purely on technology detection, CRFT Lookup provides a more comprehensive analysis by including Google Lighthouse performance metrics and meta tag previews. Our platform offers these additional features while maintaining accurate technology detection capabilities, all available for free."
                />
                <FAQItem
                    question="Is the CRFT Lookup really free?"
                    answer="Yes, the CRFT Lookup is completely free to use. You can perform unlimited scans and access all features including technology detection, performance analysis, and meta tag previews without any cost to you. So how do we make money? We sell web design and development services."
                />
                <FAQItem
                    question="How accurate is the technology detection?"
                    answer="Fairly accurate. When you input a URL, we spin up a headless instance of Chromium, visit the website and analyze its HTML, JavaScript variables, response headers and more. Then, we compare them against our database of over 2,500 technology fingerprints to identify frameworks, CMS platforms, analytics tools, and infrastructure technologies. Our detection engine is regularly updated to stay current with new versions and emerging technologies. While no detection system is perfect due to obfuscation and custom implementations, we maintain high accuracy by using multiple detection methods and continuous updates to our pattern matching algorithms."
                />
                <FAQItem
                    question="Can I save or share my reports?"
                    answer="Yes, all reports generated by the CRFT Lookup are automatically saved and shareable via a unique URL. Reports are retained for 30 days and include all analysis data: detected technologies, Lighthouse performance scores, and meta tag previews. This makes it easy to share reports with a friend, teammate, or client."
                />
                <FAQItem
                    question="What information does the CRFT Lookup provide that BuiltWith doesn't?"
                    answer="Unlike BuiltWith, CRFT Lookup includes integrated Google Lighthouse scoring to analyze performance, accessibility, SEO, and best practices. We also provide comprehensive meta tag previews showing how your site appears across search engines, social media, and messaging platforms. This gives you a more complete picture of your website's technical profile."
                />
            </div>
        </section>
        <Footer/>
    </body>
</html>
