@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    * {
      font-synthesis: none;
    }
    
    @font-face {
        font-family: 'Satoshi';
        src: url('/Fonts/Satoshi-Variable.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'Inter';
        src: url('/Fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'Playfair Display';
        src: url('/Fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    }

    body {
        font-family: 'Satoshi', sans-serif;
        @apply bg-neutral-900 text-white;
    }

    section {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    h1:not(article h1) {
      background: -webkit-linear-gradient(290deg, #FFF7EB, #B1AEA9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

}

@layer components {

    .container {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;
    }

    .nav-link {
        color: #e4e4e7;
        font-size: 16px;
        font-weight: 400;
    }

    .divider {
        height: 1px;
        width: 100%;
        background-color: #57534e;
    }

    .primary-cta {
        padding: 0.5rem 0.75rem;
        color: #FA934E;
        font-weight: 400;
        font-size: 1rem;
        border-radius: 12px;
        background:
            linear-gradient(to bottom, #FFD2B4, #9F4000) padding-box,
            linear-gradient(to bottom, #FFD2B4, #9F4000) border-box;
        border: 0.5px solid transparent;
        position: relative;
        z-index: 0;
    }

    .card {
        @apply bg-[#262626];
        border-radius: 8px;
        padding: 32px;
        border: 1px solid transparent;
        background-image: linear-gradient(#262626, #262626),
                          linear-gradient(to bottom right, #737373, #404040);
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }
    
    .square-card {
        @apply bg-neutral-800 border border-neutral-600 p-4
    }

    .primary-cta::before {
        content: "";
        position: absolute;
        inset: 0.5px; /* Adjust this value to match your border width */
        background: #554032;
        border-radius: 11px; /* Slightly less than the outer border-radius */
        z-index: -1;
    }

    .secondary-cta {
        padding: 0.5rem 0.75rem;
        color: #C7C7C7;
        font-weight: 400;
        font-size: 1rem;
        border-radius: 12px;
        border: solid 1px #8F8F8F;
        background-color: #2C2C2C;
    }

    .tag {
        @apply px-2 py-0 inline-block bg-orange-400 bg-opacity-25 font-normal text-base 
        text-orange-300 rounded-lg border border-orange-400 border-opacity-50
    }
    
    input:where([type="text"], [type="email"], [type="url"]), textarea {
        @apply w-full text-base text-neutral-300 bg-neutral-600 px-2 py-[6px] 
        rounded-md border border-neutral-500 focus:outline outline-neutral-300
    }
    
    label {
        @apply block text-base text-neutral-300 font-normal mb-2
    }
    
    .blog-content {
        @apply prose prose-lg text-pretty text-neutral-300 leading-normal 
        prose-h2:text-2xl prose-h2:font-medium prose-h2:mt-4 prose-h2:mb-4 
        prose-h3:text-xl prose-h3:mb-2
        prose-a:text-orange-300 prose-code:text-orange-300 
        prose-headings:text-neutral-200 prose-strong:text-neutral-300 prose-blockquote:text-neutral-300 
        prose-blockquote:font-normal prose-blockquote:border-l-2 prose-blockquote:border-neutral-500
    }

}

@layer utilities {

    .squiggle-border-bottom {
        --mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/10px 100%;
        -webkit-mask: var(--mask);
                mask: var(--mask);
    }

}
