---
import Navigation from "../components/Navigation.astro";
---
<html lang="en">
    <head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
	</head>
    <body>
        <Navigation />
        <section style="margin-top: 50px;">
            <div class="container">
                <h2 class="text-5xl font-semibold max-w-[50%] leading-tight">Blog. <span class="text-neutral-400">Recent thinking and work we've done.</span></h2>
            </div>
        </section>
    </body>
</html>
