---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import BlogPosts from "../components/BlogPosts.astro";
import HeadScripts from "../components/HeadScripts.astro";
---
<html lang="en">
    <head>
		<HeadScripts
		title="Blog | CRFT Studio"
		description="Recent thinking and work we've done."
		ogImageUrl="https://www.crft.studio/open-graph-img.png"
		/>
	</head>
    <body>
        <Navigation />
        <section class="lg:mt-[150px] mt-14">
            <div class="container">
                <h1 class="text-4xl font-medium leading-tight mb-10">Blog. <span class="bg-neutral-400 bg-clip-text">Recent thinking and work we've done.</span></h1>
                <BlogPosts />
            </div>
        </section>
        <Footer/>
    </body>
</html>
