---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import HeadScripts from "../components/HeadScripts.astro";
---
<html lang="en">
    <head>
		<HeadScripts
		title="Brand Guidelines | CRFT Studio"
		description="Resources for presenting our brand consistently and professionally"
		ogImageUrl="https://www.crft.studio/open-graph-img.png"
		/>
	</head>
    <body>
        <Navigation />
        <section class="mb-0 mt-20">
            <div class="container">
                <div class="square-card border-b-0 p-8 pb-14 h-full">
                    <div class="mb-7">
                        <div class="text-orange-300 mb-3">Brand</div>
                        <h1 class="lg:text-5xl text-4xl text-balance font-semibold leading-tight">Brand Guidelines</h1>
                        <p class="text-pretty text-lg mt-2 text-neutral-300 max-w-[600px] mb-5">Resources for presenting our brand consistently and professionally.</p>
                        <button class="primary-cta">Download brand assets</button>
                        <div class="max-w-[70%] h-px bg-linear-to-r from-neutral-600 to-transparent my-7"></div>
                    </div>
                    <div class="flex flex-col gap-14">
                        <div>
                            <h2 class="text-3xl font-medium text-neutral-200 mb-2.5">Logo</h2>
                            <p class="text-neutral-300 text-lg max-w-[800px]">Our brand features a regular logo for broader applications and a social media logo (icon) for compact spaces. Both logos are designed in monochromatic colors—white for dark environments and black for light environments—to ensure versatility and strong contrast across different backgrounds.</p>
                            <div class="grid grid-cols-2 gap-4 mt-8">
                                <div class="square-card bg-neutral-900 aspect-video flex flex-col items-center justify-center">
                                    <svg class="lg:w-[210px] w-[90px]" viewBox="0 0 132 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.47615 11.5709C6.47615 7.67882 8.42219 5.8923 16.6211 5.8923C21.6297 5.8923 26.8298 6.78556 30.5623 7.51931L31.7108 2.12783C27.2764 1.10696 21.6616 0.341309 16.3977 0.341309C4.46631 0.341309 0 4.26528 0 11.5709C0 18.8765 4.46631 22.8324 16.3977 22.8324C21.6616 22.8324 27.2764 22.0667 31.7108 21.0459L30.5623 15.6544C26.8298 16.3881 21.6297 17.2814 16.6211 17.2814C8.42219 17.2814 6.47615 15.4949 6.47615 11.5709ZM40.6676 22.4176V16.101H48.9303L56.7463 22.4176H64.8814L57.7353 16.8029L56.0125 15.7501L57.4162 15.7182C62.2335 15.3354 65.0728 13.0384 65.0728 8.25306C65.0728 2.54256 61.3402 0.66033 55.9806 0.66033H34.1914V22.4176H40.6676ZM40.6676 6.21132H55.3426C57.48 6.21132 58.3733 6.81746 58.3733 8.7635C58.3733 10.55 57.48 11.2519 55.3426 11.2519H40.6676V6.21132ZM74.3768 22.4176V15.3035H96.3257V10.1991H74.3768V6.21132H96.9319V0.66033H67.9006V22.4176H74.3768ZM111.951 6.21132V22.4176H118.427V6.21132H131.316V0.66033H99.0305V6.21132H111.951Z" fill="white"/>
                                    </svg>
                                </div>
                                <div class="square-card bg-neutral-200 aspect-video flex flex-col items-center justify-center">
                                    <svg class="lg:w-[210px] w-[90px]" viewBox="0 0 132 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.47615 11.5709C6.47615 7.67882 8.42219 5.8923 16.6211 5.8923C21.6297 5.8923 26.8298 6.78556 30.5623 7.51931L31.7108 2.12783C27.2764 1.10696 21.6616 0.341309 16.3977 0.341309C4.46631 0.341309 0 4.26528 0 11.5709C0 18.8765 4.46631 22.8324 16.3977 22.8324C21.6616 22.8324 27.2764 22.0667 31.7108 21.0459L30.5623 15.6544C26.8298 16.3881 21.6297 17.2814 16.6211 17.2814C8.42219 17.2814 6.47615 15.4949 6.47615 11.5709ZM40.6676 22.4176V16.101H48.9303L56.7463 22.4176H64.8814L57.7353 16.8029L56.0125 15.7501L57.4162 15.7182C62.2335 15.3354 65.0728 13.0384 65.0728 8.25306C65.0728 2.54256 61.3402 0.66033 55.9806 0.66033H34.1914V22.4176H40.6676ZM40.6676 6.21132H55.3426C57.48 6.21132 58.3733 6.81746 58.3733 8.7635C58.3733 10.55 57.48 11.2519 55.3426 11.2519H40.6676V6.21132ZM74.3768 22.4176V15.3035H96.3257V10.1991H74.3768V6.21132H96.9319V0.66033H67.9006V22.4176H74.3768ZM111.951 6.21132V22.4176H118.427V6.21132H131.316V0.66033H99.0305V6.21132H111.951Z" fill="black"/>
                                    </svg>
                                </div>
                                <div class="square-card bg-neutral-900 aspect-video flex flex-col items-center justify-center">
                                    <svg class="lg:w-[110px] aspect-square" viewBox="0 0 54 40" fill="white" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.35419097,9.34312703 C5.35419097,6.10488446 6.96308607,4.618478 13.7415443,4.618478 C17.8824703,4.618478 22.1816472,5.36168093 25.2675602,5.9721693 L26.2170724,1.48640715 C22.5509022,0.637032026 17.908845,4.97379915e-14 13.5569165,4.97379915e-14 C3.69254495,4.97379915e-14 3.90798505e-14,3.26478669 3.90798505e-14,9.34312703 C3.90798505e-14,15.4214674 3.69254495,18.7127961 13.5569165,18.7127961 C17.908845,18.7127961 22.5509022,18.0757644 26.2170724,17.2263893 L25.2675602,12.7406268 C22.1816472,13.3511152 17.8824703,14.0943178 13.7415443,14.0943178 C6.96308607,14.0943178 5.35419097,12.6079127 5.35419097,9.34312703 Z M33.6221233,18.3677368 L33.6221233,13.1122282 L40.4533324,13.1122282 L46.9152832,18.3677368 L53.6409946,18.3677368 L47.7329205,13.6961744 L46.3086522,12.8202558 L47.4691653,12.7937123 C51.4518392,12.4751967 53.7992412,10.5641035 53.7992412,6.58265754 C53.7992412,1.83146541 50.7133296,0.265428999 46.2822751,0.265428999 L28.2679313,0.265428999 L28.2679313,18.3677368 L33.6221233,18.3677368 Z M45.7547701,4.88390764 C47.5219169,4.88390764 48.2604255,5.38822381 48.2604255,7.0073451 C48.2604255,8.49375156 47.5219169,9.07769739 45.7547701,9.07769739 L33.6221233,9.07769739 L33.6221233,4.88390764 L45.7547701,4.88390764 Z M6.9255239,40 L6.9255239,34.0809176 L25.0719601,34.0809176 L25.0719601,29.8340427 L6.9255239,29.8340427 L6.9255239,26.5161708 L25.5730934,26.5161708 L25.5730934,21.8976922 L1.57133191,21.8976922 L1.57133191,40 L6.9255239,40 Z M37.9901783,26.5161708 L37.9901783,40 L43.3443595,40 L43.3443595,26.5161708 L54,26.5161708 L54,21.8976922 L27.3081606,21.8976922 L27.3081606,26.5161708 L37.9901783,26.5161708 Z" id="Combined-Shape"></path>
                                    </svg>
                                </div>
                                <div class="square-card bg-neutral-200 aspect-video flex flex-col items-center justify-center">
                                    <svg class="lg:w-[110px] aspect-square" viewBox="0 0 54 40" fill="black" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.35419097,9.34312703 C5.35419097,6.10488446 6.96308607,4.618478 13.7415443,4.618478 C17.8824703,4.618478 22.1816472,5.36168093 25.2675602,5.9721693 L26.2170724,1.48640715 C22.5509022,0.637032026 17.908845,4.97379915e-14 13.5569165,4.97379915e-14 C3.69254495,4.97379915e-14 3.90798505e-14,3.26478669 3.90798505e-14,9.34312703 C3.90798505e-14,15.4214674 3.69254495,18.7127961 13.5569165,18.7127961 C17.908845,18.7127961 22.5509022,18.0757644 26.2170724,17.2263893 L25.2675602,12.7406268 C22.1816472,13.3511152 17.8824703,14.0943178 13.7415443,14.0943178 C6.96308607,14.0943178 5.35419097,12.6079127 5.35419097,9.34312703 Z M33.6221233,18.3677368 L33.6221233,13.1122282 L40.4533324,13.1122282 L46.9152832,18.3677368 L53.6409946,18.3677368 L47.7329205,13.6961744 L46.3086522,12.8202558 L47.4691653,12.7937123 C51.4518392,12.4751967 53.7992412,10.5641035 53.7992412,6.58265754 C53.7992412,1.83146541 50.7133296,0.265428999 46.2822751,0.265428999 L28.2679313,0.265428999 L28.2679313,18.3677368 L33.6221233,18.3677368 Z M45.7547701,4.88390764 C47.5219169,4.88390764 48.2604255,5.38822381 48.2604255,7.0073451 C48.2604255,8.49375156 47.5219169,9.07769739 45.7547701,9.07769739 L33.6221233,9.07769739 L33.6221233,4.88390764 L45.7547701,4.88390764 Z M6.9255239,40 L6.9255239,34.0809176 L25.0719601,34.0809176 L25.0719601,29.8340427 L6.9255239,29.8340427 L6.9255239,26.5161708 L25.5730934,26.5161708 L25.5730934,21.8976922 L1.57133191,21.8976922 L1.57133191,40 L6.9255239,40 Z M37.9901783,26.5161708 L37.9901783,40 L43.3443595,40 L43.3443595,26.5161708 L54,26.5161708 L54,21.8976922 L27.3081606,21.8976922 L27.3081606,26.5161708 L37.9901783,26.5161708 Z" id="Combined-Shape"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2 class="text-3xl font-medium text-neutral-200 mb-2.5">Colors</h2>
                            <p class="text-neutral-300 text-lg max-w-[800px]">Our brand utilizes a neutral primary color palette ranging from light to dark grays, ensuring versatility and readability across different designs. The accent palette features vibrant shades of orange, adding warmth and emphasis to key elements while maintaining a professional and cohesive aesthetic.</p>
                            <div class="square-card p-0 mb-4 mt-8">
                                <div class="w-full border-b border-neutral-600 pl-3">Primary</div>
                                <div class="grid grid-cols-11 gap-4 p-3.5">
                                    <div class="square-card bg-neutral-50 aspect-square"></div>
                                    <div class="square-card bg-neutral-100 aspect-square"></div>
                                    <div class="square-card bg-neutral-200 aspect-square"></div>
                                    <div class="square-card bg-neutral-300 aspect-square"></div>
                                    <div class="square-card bg-neutral-400 aspect-square"></div>
                                    <div class="square-card bg-neutral-500 aspect-square"></div>
                                    <div class="square-card bg-neutral-600 aspect-square"></div>
                                    <div class="square-card bg-neutral-700 aspect-square"></div>
                                    <div class="square-card bg-neutral-800 aspect-square"></div>
                                    <div class="square-card bg-neutral-900 aspect-square"></div>
                                    <div class="square-card bg-neutral-950 aspect-square"></div>
                                </div>
                            </div>
                            <div class="square-card p-0 mb-4">
                                <div class="w-full border-b border-neutral-600 pl-3">Accent</div>
                                <div class="grid grid-cols-11 gap-4 p-3.5">
                                    <div class="square-card bg-orange-50 aspect-square"></div>
                                    <div class="square-card bg-orange-100 aspect-square"></div>
                                    <div class="square-card bg-orange-200 aspect-square"></div>
                                    <div class="square-card bg-orange-300 aspect-square"></div>
                                    <div class="square-card bg-orange-400 aspect-square"></div>
                                    <div class="square-card bg-orange-500 aspect-square"></div>
                                    <div class="square-card bg-orange-600 aspect-square"></div>
                                    <div class="square-card bg-orange-700 aspect-square"></div>
                                    <div class="square-card bg-orange-800 aspect-square"></div>
                                    <div class="square-card bg-orange-900 aspect-square"></div>
                                    <div class="square-card bg-orange-950 aspect-square"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2 class="text-3xl font-medium text-neutral-200 mb-2.5">Typeface</h2>
                            <p class="text-neutral-300 text-lg max-w-[800px] mb-8">Our brand employs the Satoshi typeface, a versatile and modern sans-serif font designed for optimal readability across digital platforms. It features a neutral aesthetic that complements our color palette, ensuring clarity and professionalism in all typographic applications.</p>
                            <div class="flex flex-col gap-4">
                                <div class="square-card p-0">
                                    <div class="w-full border-b border-neutral-600 pl-3 text-neutral-300">Heading 6</div>
                                    <div class="text-lg p-3">The quick brown fox jumps over the lazy dog.</div>
                                </div>
                                <div class="square-card p-0">
                                    <div class="w-full border-b border-neutral-600 pl-3 text-neutral-300">Heading 5</div>
                                    <div class="text-xl p-3">The quick brown fox jumps over the lazy dog.</div>
                                </div>
                                <div class="square-card p-0">
                                    <div class="w-full border-b border-neutral-600 pl-3 text-neutral-300">Heading 4</div>
                                    <div class="text-2xl p-3">The quick brown fox jumps over the lazy dog.</div>
                                </div>
                                <div class="square-card p-0">
                                    <div class="w-full border-b border-neutral-600 pl-3 text-neutral-300">Heading 3</div>
                                    <div class="text-3xl p-3">The quick brown fox jumps over the lazy dog.</div>
                                </div>
                                <div class="square-card p-0">
                                    <div class="w-full border-b border-neutral-600 pl-3 text-neutral-300">Heading 2</div>
                                    <div class="text-4xl p-3">The quick brown fox jumps over the lazy dog.</div>
                                </div>
                                <div class="square-card p-0">
                                    <div class="w-full border-b border-neutral-600 pl-3 text-neutral-300">Heading 1</div>
                                    <div class="text-5xl p-3">The quick brown fox jumps over the lazy dog.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <Footer hideTop/>
    </body>
</html>
