---
export const prerender = false;

let num;
try {
  num = crypto.randomUUID();
} catch (error) {
  console.error('Error generating random number:', error);
  num = 'Error generating number';
}
---
<html>
    <body>
        <h1>{num}</h1>
    </body>
</html>
