---
export const prerender = false;

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Stripe from "stripe";
import HeadScripts from "../components/HeadScripts.astro";

const plan = Astro.url.searchParams.get("plan");
if (!plan) return Astro.redirect("/pricing");

const { env } = Astro.locals.runtime;
const STRIPE_API = env.STRIPE_API ?? import.meta.env.STRIPE_API;
const PUBLIC_STRIPE_API = env.PUBLIC_STRIPE_API ?? import.meta.env.PUBLIC_STRIPE_API;
const stripe = new Stripe(STRIPE_API);
const price = (await stripe.prices.list({ lookup_keys: [plan] })).data[0];
const checkoutSession = await stripe.checkout.sessions.create({
    line_items: [
        {
            price: price.id,
            quantity: 1,
        },
    ],
    mode: "subscription",
    ui_mode: "embedded",
    return_url: Astro.url.origin + "/thank-you?session_id={CHECKOUT_SESSION_ID}",
    allow_promotion_codes: true,
    billing_address_collection: "required",
    custom_fields: [
      {
        key: "Website",
        label: {
          type: "custom",
          custom: "Website URL"
        },
        type: "text",
        optional: true
      }
    ]
});
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Checkout | CRFT Studio</title> 
        <HeadScripts/>
    </head>
    <body>
        <Navigation />
        <section class="my-16">
            <div class="container">
                <div id="checkout" class="border-[1px] border-neutral-700 rounded-xl p-5 bg-[#1c1c1c]"></div>
            </div>
        </section>
        <Footer />

        <span id="pubStripeApi" hidden>{PUBLIC_STRIPE_API}</span>
        <span id="clientSecret" hidden>{checkoutSession.client_secret}</span>
        <script>
            import $ from "jquery";
            import { loadStripe } from "@stripe/stripe-js";
            const stripe = await loadStripe($("#pubStripeApi").text());
            const clientSecret = $("#clientSecret").text();
            const checkout = await stripe.initEmbeddedCheckout({
                clientSecret,
            });
            checkout.mount("#checkout");
        </script>
    </body>
</html>
