---
import '../../src/styles/global.css'
import Navigation from '../components/Navigation.astro'
---
<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
	</head>
    <body>
        <Navigation />
        <section>
        <div class="container flex flex-col items-center">
                <h1 class="text-6xl text-center text-balance font-semibold leading-tight">Sell more with a marketing website crafted to convert.</h1>
                <p class="text-center text-pretty text-xl mt-5 text-neutral-300 mb-5" style="max-width: 45ch;">We design and develop beautiful, performant, and maintainable websites for the best marketing teams.</p>
        </section>
    </body>
</html>
