---
import Navigation from "../components/Navigation.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";
import Stripe from "stripe";

const STRIPE_API = Astro.locals.runtime.env.STRIPE_API ?? import.meta.env.STRIPE_API;
const stripe = new Stripe(STRIPE_API);
const tiers = ["monthly", "quarterly", "annually"], prices = {};
const pricesRaw = await stripe.prices.list({ lookup_keys: tiers });
tiers.forEach(tier => prices[tier] = pricesRaw.data.find(price => price.lookup_key === tier));
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pricing</title>
        <style>
            #tabs div {
                @apply border-transparent;
            }
            .tab-active {
                @apply border-neutral-600 !important;
                @apply bg-neutral-700;
            }
        </style>
    </head>
    <body>
        <Navigation/>
        <section class="mt-20">
            <div class="container">
                <div class="text-center text-lg font-normal text-orange-300 mb-6">Plans & Pricing</div>
                <form action="/checkout">
                    <div class="flex justify-center mb-8">
                        <div id="tabs" class="inline-flex flex-row card p-[2px] rounded-lg border-[1px] gap-2 mx-auto text-sm text-nowrap overflow-x-auto">
                            <div id="monthly" data-price={`$${prices["monthly"].unit_amount / 100}`} class="tab-active border-[1px] rounded-[4px] px-2 py-1 hover:cursor-pointer transition-all">Monthly</div>
                            <div id="quarterly" data-price={`$${prices["quarterly"].unit_amount / 100 / 3}`} class="px-2 py-1 rounded-[4px] border-[1px] hover:cursor-pointer transition-all">Quarterly (Save 10%)</div>
                            <div id="annually" data-price={`$${prices["annually"].unit_amount / 100 / 12}`} class="px-2 py-1 rounded-[4px] border-[1px] hover:cursor-pointer transition-all">Annually (Save 15%)</div>
                            <input type="hidden" id="plan" name="plan">
                        </div>
                    </div>
                    <h1 class="lg:text-7xl md:text-6xl sm:text-5xl text-[2.6rem] text-center text-balance font-semibold leading-tight lg:mb-7 mb-5"><span id="price">$5000</span><span class="bg-neutral-400 bg-clip-text">/month</span></h1>
                    <div class="text-center lg:text-xl text-lg font-medium leading-normal text-neutral-200 text-pretty max-w-[800px] mx-auto">A simple, straightforward monthly fee for the length of our project. No contracts or fixed scropes of work. Pause or cancel your subscription as needed. We think of ourselves as an extension of your team, dedicated to designing and developing your website whilst you work on your core business.</div>
                    <div class="flex flex-row justify-center gap-3 mt-8">
                        <input type="submit" value="">
                            <button class="primary-cta">Purchase</button>
                        </input>
                        <a href='/audit' class="secondary-cta">Get Free Audit</a>
                    </div>
                </form>
            </div>

            <div class="container mx-auto mt-20">
                <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-12 text-pretty">
                    <div class="flex flex-row gap-2 items-start">
                        <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                        <div class="flex flex-col gap-2">
                            <div class="text-lg font-medium">Design work in Figma/Sketch</div>
                            <div class="text-lg font-normal">We kick off projects by designing initial web/brand concepts, and are receptive to feedback all throughout. Once we're 80% there, we bring ideas to life in code, and make final refinements.</div>
                        </div>
                    </div>

                    <div class="flex flex-row gap-2 items-start">
                        <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                        <div class="flex flex-col gap-2">
                            <div class="text-lg font-medium">Custom web development</div>
                            <div class="text-lg font-normal">Astro is our framework of choice. Expect lightning performance, solid technical SEO, and a separate environemnt to preview updates before they go live.</div>
                        </div>
                    </div>

                    <div class="flex flex-row gap-2 items-start">
                        <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                        <div class="flex flex-col gap-2">
                            <div class="text-lg font-medium">Headless CMS integration</div>
                            <div class="text-lg font-normal">We'll integrate Payload CMS into our project, so your team can update and collaborate on content in realtime, without our input.</div>
                        </div>
                    </div>

                    <div class="flex flex-row gap-2 items-start">
                        <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                        <div class="flex flex-col gap-2">
                            <div class="text-lg font-medium">Daily progress & live updates</div>
                            <div class="text-lg font-normal">We take in a small number of clients at a time to ensure a close, consistent partnership.</div>
                        </div>
                    </div>

                    <div class="flex flex-row gap-2 items-start">
                        <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                        <div class="flex flex-col gap-2">
                            <div class="text-lg font-medium">Project management in Basecamp</div>
                            <div class="text-lg font-normal">It keeps everything neat and in one place, from messages, to files, to-do items, and more. You'll love it.</div>
                        </div>
                    </div>

                    <div class="flex flex-row gap-2 items-start">
                        <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                        <div class="flex flex-col gap-2">
                            <div class="text-lg font-medium">Weekly video call (on request)</div>
                            <div class="text-lg font-normal">There are occasions where synchonous communcation really helps. For those times, do not hesitate to request a call.</div>
                        </div>
                    </div>

                    <div class="flex flex-row gap-2 items-start">
                        <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                        <div class="flex flex-col gap-2">
                            <div class="text-lg font-medium">Pause or cancel anytime</div>
                            <div class="text-lg font-normal">When our work together is done, you're welcome to pause or cancel your subscription until you need us next.</div>
                        </div>
                    </div>

                    <div class="flex flex-row gap-2 items-start">
                        <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#4ade80"><path d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg>
                        <div class="flex flex-col gap-2">
                            <div class="text-lg font-medium">7-day money-back guarantee</div>
                            <div class="text-lg font-normal">There are no strings attached. If you don't like our work within the first 7 days of your purchase, we'll refund 100% of your money.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="w-full h-[1px] bg-neutral-700 mx-auto"></div>

        <Testimonials/>

        <Footer/>

        <script>
            import $ from "jquery";
            $("#price").text($(".tab-active").attr("data-price"));
            $("#plan").val($(".tab-active").attr("id"));
            $("#tabs div").click(function() {
              if ($(this).hasClass("tab-active")) return;
              $(".tab-active").add(this).toggleClass("tab-active");
              $("#price").text($(this).attr("data-price"));
              $("#plan").val($(this).attr("id"));
            });
        </script>

    </body>
</html>
