---
import LookupUseCase from "../../../layouts/LookupUseCase.astro";
import FAQItem from "../../../components/FAQItem.astro";
import { Image } from 'astro:assets';
import NickPFP from '../../../images/nick-pfp-new.png';
---

<LookupUseCase
    h1="Identify any website's CMS platform"
    subtitle="Detect Content Management Systems, frameworks, hosting platforms, and more with our powerful technology detection engine. Get detailed insights about the core systems powering any website."
    metaTitle="CMS Platform Detector"
    metaDescription="Identify Content Management Systems, frameworks, hosting platforms, and more with our powerful technology detection engine. Get detailed insights about the core systems powering any website."
    techCategory="CMS"
>
    <div slot="hero-image">
        <div class="w-full aspect-square overflow-hidden relative">
            <div
                class="absolute h-full w-full z-10 bg-gradient-to-t from-neutral-900 to-transparent pointer-events-none"
            >
            </div>
            <div class="flex flex-col gap-4">
                <a
                    href="https://wordpress.org?ref=crftlookup"
                    target="_blank"
                    class="flex flex-col gap-2 square-card p-4 relative hover:bg-neutral-700 transition-all"
                    data-tech-name="WordPress"
                    data-tech-icon="WordPress.svg"
                >
                    <div class="flex flex-row gap-2 items-center">
                        <img
                            src="/icons/WordPress.svg"
                            class="w-5 h-5"
                            alt=""
                        />
                        <div>WordPress</div>
                    </div>
                    <div class="text-pretty">
                        WordPress is the world's most popular content management
                        system, powering over 40% of all websites.
                    </div>
                    <svg
                        class="absolute top-0 right-0 mt-3 mr-3"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"
                        ></path></svg
                    >
                </a><a
                    href="https://drupal.org?ref=crftlookup"
                    target="_blank"
                    class="flex flex-col gap-2 square-card p-4 relative hover:bg-neutral-700 transition-all"
                    data-tech-name="Drupal"
                    data-tech-icon="Drupal.svg"
                >
                    <div class="flex flex-row gap-2 items-center">
                        <img src="/icons/Drupal.svg" class="w-5 h-5" alt="" />
                        <div>Drupal</div>
                    </div>
                    <div class="text-pretty">
                        Drupal is an enterprise-grade CMS platform known for its
                        flexibility and robust security features.
                    </div>
                    <svg
                        class="absolute top-0 right-0 mt-3 mr-3"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"
                        ></path></svg
                    >
                </a>
                <a
                    href="https://webflow.com?ref=crftlookup"
                    target="_blank"
                    class="flex flex-col gap-2 square-card p-4 relative hover:bg-neutral-700 transition-all"
                    data-tech-name="Webflow"
                    data-tech-icon="Webflow.svg"
                >
                    <div class="flex flex-row gap-2 items-center">
                        <img src="/icons/webflow.svg" class="w-5 h-5" alt="" />
                        <div>Webflow</div>
                    </div>
                    <div class="text-pretty">
                        Webflow is a visual web design platform that combines
                        CMS capabilities with powerful design tools.
                    </div>
                    <svg
                        class="absolute top-0 right-0 mt-3 mr-3"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"
                        ></path></svg
                    >
                </a><a
                    href="https://wix.com?ref=crftlookup"
                    target="_blank"
                    class="flex flex-col gap-2 square-card p-4 relative hover:bg-neutral-700 transition-all"
                    data-tech-name="Wix"
                    data-tech-icon="Wix.svg"
                >
                    <div class="flex flex-row gap-2 items-center">
                        <img src="/icons/Wix.svg" class="w-5 h-5" alt="" />
                        <div>Wix</div>
                    </div>
                    <div class="text-pretty">
                        Wix is a cloud-based website builder with integrated CMS
                        features for businesses and creators.
                    </div>
                    <svg
                        class="absolute top-0 right-0 mt-3 mr-3"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"
                        ></path></svg
                    >
                </a><a
                    href="https://ghost.org?ref=crftlookup"
                    target="_blank"
                    class="flex flex-col gap-2 square-card p-4 relative hover:bg-neutral-700 transition-all"
                    data-tech-name="Ghost"
                    data-tech-icon="Ghost.svg"
                >
                    <div class="flex flex-row gap-2 items-center">
                        <img src="/icons/Ghost.svg" class="w-5 h-5" alt="" />
                        <div>Ghost</div>
                    </div>
                    <div class="text-pretty">
                        Ghost is a modern publishing platform designed
                        specifically for professional bloggers and content
                        creators.
                    </div>
                    <svg
                        class="absolute top-0 right-0 mt-3 mr-3"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"
                        ></path></svg
                    >
                </a><a
                    href="https://contentful.com?ref=crftlookup"
                    target="_blank"
                    class="flex flex-col gap-2 square-card p-4 relative hover:bg-neutral-700 transition-all"
                    data-tech-name="Contentful"
                    data-tech-icon="Contentful.svg"
                >
                    <div class="flex flex-row gap-2 items-center">
                        <img
                            src="/icons/Contentful.svg"
                            class="w-5 h-5"
                            alt=""
                        />
                        <div>Contentful</div>
                    </div>
                    <div class="text-pretty">
                        Contentful is a headless CMS that provides content
                        infrastructure for modern digital experiences.
                    </div>
                    <svg
                        class="absolute top-0 right-0 mt-3 mr-3"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"
                        ></path></svg
                    >
                </a>
            </div>
        </div>
    </div>

    <div slot="hero-list">
        <div class="flex flex-col gap-2 text-neutral-300 text-lg mt-7">
            <div class="flex flex-row gap-2 items-start">
                <svg
                    class="flex-shrink-0 translate-y-[2px]"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#4ade80"
                    ><path
                        d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                    ></path></svg
                >
                <div class="flex flex-col gap-2">
                    <div class="font-medium">Traditional CMS Platforms</div>
                </div>
            </div>
            <div class="flex flex-row gap-2 items-start">
                <svg
                    class="flex-shrink-0 translate-y-[2px]"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#4ade80"
                    ><path
                        d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                    ></path></svg
                >
                <div class="flex flex-col gap-2">
                    <div class="font-medium">Headless CMS Solutions</div>
                </div>
            </div>
            <div class="flex flex-row gap-2 items-start">
                <svg
                    class="flex-shrink-0 translate-y-[2px]"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#4ade80"
                    ><path
                        d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                    ></path></svg
                >
                <div class="flex flex-col gap-2">
                    <div class="font-medium">Website Builders</div>
                </div>
            </div>
            <div class="flex flex-row gap-2 items-start">
                <svg
                    class="flex-shrink-0 translate-y-[2px]"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#4ade80"
                    ><path
                        d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                    ></path></svg
                >
                <div class="flex flex-col gap-2">
                    <div class="font-medium">E-commerce Platforms</div>
                </div>
            </div>
        </div>
    </div>

    <div slot="article">
      <p>Ever wondered what’s running the show behind your favorite website? In the wild world of digital experiences, knowing the Content Management System (CMS) powering a site is like holding the keys to the kingdom. Meet <strong>CRFT Lookup</strong>, your techy sidekick that sniffs out CMS platforms and more with just a URL and a wink.</p>
      <p>With hundreds of CMS options out there—from old-school WordPress to sleek headless systems like Contentful—figuring out what’s under the hood used to require a tech wizard’s hat. Not anymore. CRFT Lookup spills the beans on any website’s tech stack, CMS included, faster than you can say “digital detective.”</p>

      <h2>Why CMS Sleuthing Matters</h2>
      <p>Before we dive into how CRFT Lookup works its magic, let’s break down why CMS detection is a game-changer:</p>
      <ul>
        <li><strong>Competitor Recon</strong>: Curious about how rivals build their sites? Their CMS choice reveals their strategy—flexibility, scalability, or maybe just sticking to the classics.</li>
        <li><strong>Beginner’s Blueprint</strong>: New to web-building? See what top sites use and kickstart your project with a proven platform.</li>
        <li><strong>Pro Moves</strong>: Developers and agencies, this is your jam. Spot CMS trends and make data-driven recommendations that leave clients in awe.</li>
      </ul>
      <p>CRFT Lookup doesn’t just say, “Yup, it’s Drupal.” It delivers a full tech rundown—free, fast, and with a dash of charm.</p>

      <h2>How CRFT Lookup Cracks the Code</h2>
      <p>So, how does CRFT Lookup play CMS detective? Picture it as a cyber-sleuth, combing through a site’s HTML, JavaScript, response headers, and more. Armed with a database of over 2,500 technology fingerprints, it fires up a headless Chromium instance to scan any URL you toss its way. In mere seconds, it pins down CMS platforms like WordPress, Webflow, or Shopify, plus other tech like frameworks and analytics tools.</p>
      <p>Pop in a website’s URL, and CRFT Lookup hunts for CMS clues left in public-facing code. It’s not limited to CMS either—it can dissect any site, from Stripe to PostHog, serving up a tidy tech stack summary that’s easy on the eyes.</p>

      <h2>Beyond CMS: The Ultimate Tech Takedown</h2>
      <p>CRFT Lookup isn’t here to do the bare minimum. It goes all-in, giving you a panoramic view of a website’s tech profile. Here’s the full scoop:</p>
      <ul>
        <li><strong>Tech Stack Breakdown</strong>: Spot everything from React and Gatsby to Cloudflare and AWS. It’s the whole tech enchilada.</li>
        <li><strong>Lighthouse Scores</strong>: Google Lighthouse metrics rate performance, accessibility, SEO, and best practices. Is that site speedy or just sparkly? Find out.</li>
        <li><strong>Meta Tag Previews</strong>: Check how a site looks when shared on Google, Twitter, or WhatsApp. Make sure its social vibe is pure fire.</li>
        <li><strong>Sitemap Visualization</strong>: Dive into a site’s structure with an interactive tree view, mapping out pages and navigation like a digital treasure hunt.</li>
      </ul>
      <p>Whether you’re sizing up a competitor’s CMS or analyzing a site’s performance, these insights let you spot weaknesses, borrow brilliance (ethically!), and level up your game.</p>

      <h2>Real-World Superpowers</h2>
      <p>What can you <em>do</em> with this tech intel? Oh, plenty:</p>
      <ul>
        <li><strong>Business Owners</strong>: Compare CMS choices to industry leaders and pick the perfect platform for your site.</li>
        <li><strong>Marketers</strong>: Understand which CMS powers top campaigns in your niche and tailor your strategy.</li>
        <li><strong>Developers</strong>: Uncover CMS patterns and integrations to build sharper, smarter solutions.</li>
        <li><strong>Agencies</strong>: Walk into client pitches with tech insights that scream “We’ve got this.”</li>
      </ul>
      <div id="testimonial" class="square-card p-7 pt-0 my-14 max-w-[1000px] mx-auto">
        <div class="relative shrink-0 mb-5">
          <Image src={NickPFP} alt='Nick profile pic' class='w-24 relative'></Image>
          <div class="absolute w-full h-full top-0 bg-gradient-to-t from-neutral-800 via-50% via-transparent to-transparent"></div>
        </div>
        <blockquote class="mb-5 leading-normal p-0 border-0 text-xl"><span class="text-neutral-400">" </span>This did a great job at giving me insight into how some of my favorite sites are created, and has inspired me to build.<span class="text-neutral-400"> "</span></blockquote>
        <div>
          <div class="text-neutral-300 text-pretty text-lg">Nick Hoban</div>
          <div class="text-neutral-400 text-pretty text-lg">Web Developer 🇨🇦</div>
        </div>
      </div>

      <h2>Keeping It Ethical (and Free!)</h2>
      <p>Let’s clear the air: CRFT Lookup only pokes around in publicly accessible data. No hacking into private code or spilling sensitive secrets—it’s all legit, just reading what’s out in the open. Think of it as checking the ingredients on a cereal box, not raiding the kitchen.</p>
      <p>And yes, it’s <em>free</em>. Unlimited scans, no strings attached. How do they make money? By offering top-tier web design and development services, not by charging for reports. Share your findings via unique URLs, stored for 30 days, and packed with all the details—perfect for team collabs or client flexes.</p>

      <h2>The Fine Print on CMS Detection</h2>
      <p>To keep things straight: CRFT Lookup doesn’t dish out detailed CMS feature lists, use cases, or technical requirements. It identifies platforms (like WordPress or Contentful) and categorizes them based on their technical footprints. Want more? You’ll need to dig into the CMS yourself—CRFT just hands you the map.</p>
      <p>Its detection is rock-solid, thanks to a constantly updated engine that cross-checks multiple clues. That said, it can only spot CMS platforms with public-facing signatures—super-custom or hidden setups might stay off the radar.</p>

      <h2>Ready to Snoop?</h2>
      <p>Whether you’re a business owner picking a CMS, a developer chasing tech inspiration, or just a web-curious soul, CRFT Lookup is your ticket to uncovering the tech behind any site. Run a scan, share the results, and build smarter. You might just stumble on the secret sauce that turns your site from “okay” to “outstanding.”</p>
      <p><a href="https://www.crft.studio/lookup">Scan a website now</a> and unleash your inner tech detective.</p>
    </div>

    <div slot="faqs">
        <FAQItem
            question="How does CRFT Lookup detect CMS platforms?"
            answer="CRFT Lookup uses advanced technology scanning capabilities to analyze a site's code, meta information, and technical signatures that CMS platforms leave behind. When you input a URL, it performs a comprehensive scan to detect hundreds of popular platforms like WordPress, Drupal, Webflow, and more."
        />
        <FAQItem
            question="What types of CMS platforms can be detected?"
            answer="The tool can detect traditional CMS platforms, headless CMS solutions, website builders, and e-commerce platforms. It identifies platforms that leave visible signatures in publicly accessible code while respecting privacy by not accessing private areas."
        />
        <FAQItem
            question="How accurate is the CMS detection?"
            answer="CRFT Lookup provides highly accurate results by analyzing multiple technical indicators that CMS platforms leave in a site's code. However, it only detects platforms with public-facing components - heavily customized or private implementations may not be detectable."
        />
        <FAQItem
            question="What information is provided about detected platforms?"
            answer="For each detected CMS platform, CRFT Lookup provides context about its capabilities, typical use cases, technical requirements, and ecosystem. This helps users understand not just which platform is present, but its strengths and limitations."
        />
        <FAQItem
            question="How can I use the CMS detection data?"
            answer="The CMS detection data can be used for technical research, platform evaluation, migration planning, competitor analysis, and understanding technology trends in your industry. It's valuable for developers, marketers, and business professionals."
        />
    </div>
</LookupUseCase>
