---
import LookupUseCase from "../../../layouts/LookupUseCase.astro";
import FAQItem from "../../../components/FAQItem.astro";
import LookupTestimonial from "../../../components/LookupTestimonial.astro";
import { Image } from 'astro:assets';
import NickPFP from '../../../images/nick-pfp-new.png';
---

<LookupUseCase
    h1="See the Shopify apps any store is using"
    subtitle="Identify frameworks, CMS platforms, analytics tools, and more with our powerful technology detection engine. Get detailed insights about the tools and services powering any website."
    metaTitle="Shopify App Detector"
    metaDescription="Identify frameworks, CMS platforms, analytics tools, and more with our powerful technology detection engine. Get detailed insights about the tools and services powering any website."
    techCategory="Shopify App Detector"
>
    <div slot="hero-image">
        <div class="w-full aspect-square overflow-hidden relative">
            <div
                class="absolute h-full w-full z-10 bg-gradient-to-t from-neutral-900 to-transparent pointer-events-none"
            >
            </div>
            <div class="flex flex-col gap-4">
                <a
                    href="https://shopify.com?ref=crftlookup"
                    target="_blank"
                    class="flex flex-col gap-2 square-card p-4 relative hover:bg-neutral-700 transition-all"
                    data-tech-name="Shopify"
                    data-tech-icon="Shopify.svg"
                >
                    <div class="flex flex-row gap-2 items-center">
                        <img src="/icons/Shopify.svg" class="w-5 h-5" alt="" />
                        <div>Shopify</div>
                    </div>
                    <div class="text-pretty">
                        Shopify is an e-commerce platform for online stores and
                        retail point-of-sale systems.
                    </div>
                    <svg
                        class="absolute top-0 right-0 mt-3 mr-3"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"
                        ></path></svg
                    >
                </a><a
                    href="https://apps.shopify.com/privy?ref=crftlookup"
                    target="_blank"
                    class="flex flex-col gap-2 square-card p-4 relative hover:bg-neutral-700 transition-all"
                    data-tech-name="Privy"
                    data-tech-icon="Privy.svg"
                >
                    <div class="flex flex-row gap-2 items-center">
                        <img src="/icons/Privy.svg" class="w-5 h-5" alt="" />
                        <div>Privy</div>
                    </div>
                    <div class="text-pretty">
                        Privy is a popular Shopify app for email pop-ups, exit
                        intent, and email marketing automation.
                    </div>
                    <svg
                        class="absolute top-0 right-0 mt-3 mr-3"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"
                        ></path></svg
                    >
                </a>
                <a
                    href="https://apps.shopify.com/klaviyo?ref=crftlookup"
                    target="_blank"
                    class="flex flex-col gap-2 square-card p-4 relative hover:bg-neutral-700 transition-all"
                    data-tech-name="Klaviyo"
                    data-tech-icon="Klaviyo.svg"
                >
                    <div class="flex flex-row gap-2 items-center">
                        <img src="/icons/Klaviyo.svg" class="w-5 h-5" alt="" />
                        <div>Klaviyo</div>
                    </div>
                    <div class="text-pretty">
                        Klaviyo is an email marketing platform built for
                        e-commerce businesses.
                    </div>
                    <svg
                        class="absolute top-0 right-0 mt-3 mr-3"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"
                        ></path></svg
                    >
                </a><a
                    href="https://apps.shopify.com/judge-me?ref=crftlookup"
                    target="_blank"
                    class="flex flex-col gap-2 square-card p-4 relative hover:bg-neutral-700 transition-all"
                    data-tech-name="Judge.me"
                    data-tech-icon="Judge.me.svg"
                >
                    <div class="flex flex-row gap-2 items-center">
                        <img src="/icons/Judge.svg" class="w-5 h-5" alt="" />
                        <div>Judge.me</div>
                    </div>
                    <div class="text-pretty">
                        Judge.me is a product review app for Shopify stores to
                        collect and display customer reviews.
                    </div>
                    <svg
                        class="absolute top-0 right-0 mt-3 mr-3"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"
                        ></path></svg
                    >
                </a><a
                    href="https://apps.shopify.com/recharge?ref=crftlookup"
                    target="_blank"
                    class="flex flex-col gap-2 square-card p-4 relative hover:bg-neutral-700 transition-all"
                    data-tech-name="ReCharge"
                    data-tech-icon="Recharge.svg"
                >
                    <div class="flex flex-row gap-2 items-center">
                        <img src="/icons/Recharge.svg" class="w-5 h-5" alt="" />
                        <div>ReCharge</div>
                    </div>
                    <div class="text-pretty">
                        ReCharge is a subscription payments app for Shopify that
                        helps merchants sell subscription products.
                    </div>
                    <svg
                        class="absolute top-0 right-0 mt-3 mr-3"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"
                        ></path></svg
                    >
                </a><a
                    href="https://apps.shopify.com/smile-io?ref=crftlookup"
                    target="_blank"
                    class="flex flex-col gap-2 square-card p-4 relative hover:bg-neutral-700 transition-all"
                    data-tech-name="Smile.io"
                    data-tech-icon="Smile.io.svg"
                >
                    <div class="flex flex-row gap-2 items-center">
                        <img src="/icons/Smile.io.svg" class="w-5 h-5" alt="" />
                        <div>Smile.io</div>
                    </div>
                    <div class="text-pretty">
                        Smile.io is a loyalty rewards program app for Shopify
                        stores to create points and referral programs.
                    </div>
                    <svg
                        class="absolute top-0 right-0 mt-3 mr-3"
                        xmlns="http://www.w3.org/2000/svg"
                        height="24px"
                        viewBox="0 -960 960 960"
                        width="24px"
                        fill="#e8eaed"
                        ><path
                            d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"
                        ></path></svg
                    >
                </a>
            </div>
        </div>
    </div>

    <div slot="hero-list">
        <div class="flex flex-col gap-2 text-neutral-300 text-lg mt-7">
            <div class="flex flex-row gap-2 items-start">
                <svg
                    class="flex-shrink-0 translate-y-[2px]"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#4ade80"
                    ><path
                        d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                    ></path></svg
                >
                <div class="flex flex-col gap-2">
                    <div class="font-medium">Marketing and Email Tools</div>
                </div>
            </div>
            <div class="flex flex-row gap-2 items-start">
                <svg
                    class="flex-shrink-0 translate-y-[2px]"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#4ade80"
                    ><path
                        d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                    ></path></svg
                >
                <div class="flex flex-col gap-2">
                    <div class="font-medium">Reviews and Social Proof</div>
                </div>
            </div>
            <div class="flex flex-row gap-2 items-start">
                <svg
                    class="flex-shrink-0 translate-y-[2px]"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#4ade80"
                    ><path
                        d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                    ></path></svg
                >
                <div class="flex flex-col gap-2">
                    <div class="font-medium">Subscriptions and Payments</div>
                </div>
            </div>
            <div class="flex flex-row gap-2 items-start">
                <svg
                    class="flex-shrink-0 translate-y-[2px]"
                    xmlns="http://www.w3.org/2000/svg"
                    height="24px"
                    viewBox="0 -960 960 960"
                    width="24px"
                    fill="#4ade80"
                    ><path
                        d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"
                    ></path></svg
                >
                <div class="flex flex-col gap-2">
                    <div class="font-medium">Loyalty and Rewards</div>
                </div>
            </div>
        </div>
    </div>

    <div slot="article">
        <p>Ever wondered what’s powering your favorite Shopify store or that slick website you can’t stop browsing? In the fast-paced world of e-commerce and web design, knowing the tech behind the curtain is like having a superpower. Meet <strong>CRFT Lookup</strong>, the digital detective that uncovers a website’s tech stack, performance stats, and more with just a URL and a bit of swagger.</p>
          <p>With Shopify’s ecosystem boasting over 8,000 apps—everything from email marketing to inventory wizardry—figuring out what’s driving a store’s success used to be a guessing game. Not anymore. CRFT Lookup is here to lift the hood and reveal the engine, whether it’s a Shopify store or any website on the web.</p>

          <h2>Why Playing Tech Detective Matters</h2>
          <p>Before we get into the nitty-gritty of CRFT Lookup’s sleuthing skills, let’s talk about why this matters:</p>
          <ul>
            <li><strong>Competitor Espionage</strong>: Want to know how your rival’s store is raking in sales? Their tech stack reveals their strategy—marketing tools, customer retention apps, or maybe some subscription voodoo.</li>
            <li><strong>Rookie Roadmap</strong>: New to Shopify or web-building? See what the pros are using to power their sites and get a head start on your own masterpiece.</li>
            <li><strong>Pro-Level Insights</strong>: Developers and agencies, this one’s for you. Spot trending tools and integrations to make killer recommendations that wow your clients.</li>
          </ul>
          <p>CRFT Lookup doesn’t just point and say, “There’s an app!” It hands you a full tech dossier—free of charge and with a side of sass.</p>

          <h2>How CRFT Lookup Works Its Magic</h2>
          <p>So, how does CRFT Lookup play tech detective? It’s like a digital forensics expert, analyzing a website’s HTML, JavaScript, response headers, and more. Powered by a database of over 2,500 technology fingerprints, it spins up a headless Chromium instance to scan any URL you throw its way. In seconds, it identifies frameworks, CMS platforms, analytics tools, and—yes—Shopify apps like Klaviyo, Judge.me, or ReCharge.</p>
          <p>Enter a Shopify store’s URL, and CRFT Lookup will sniff out the apps leaving public-facing clues in the code. It’s not just about Shopify, though—this tool can dissect any website, from TailwindCSS to GitHub, revealing the tech stack in a neat, easy-to-read breakdown.</p>

          <h2>Beyond Apps: The Full Tech Takedown</h2>
          <p>CRFT Lookup isn’t a one-trick pony. It goes way beyond spotting Shopify apps, offering a 360-degree view of a website’s tech profile. Here’s what you get:</p>
          <ul>
            <li><strong>Tech Stack Breakdown</strong>: From React and NextJS to Cloudflare and AWS, see the frameworks, CMS platforms, and infrastructure powering a site.</li>
            <li><strong>Lighthouse Scores</strong>: Integrated Google Lighthouse metrics grade performance, accessibility, SEO, and best practices. Is that site fast or just flashy? Now you know.</li>
            <li><strong>Meta Tag Previews</strong>: See how a site looks when shared on Google, Facebook, WhatsApp, or Slack. Perfect for ensuring your site’s social glow-up is on point.</li>
            <li><strong>Sitemap Visualization</strong>: Explore a site’s structure with an interactive tree view, revealing page hierarchy and navigation paths. It’s like a map to the website’s soul.</li>
          </ul>
          <p>Whether you’re benchmarking your Shopify store against the big dogs or analyzing a competitor’s site, these insights help you spot gaps, steal ideas (ethically, of course), and optimize like a pro.</p>

          <h2>Real-World Superpowers</h2>
          <p>So, what can you <em>do</em> with all this intel? Plenty:</p>
          <ul>
            <li><strong>Merchants</strong>: Compare your tech stack to industry leaders and plug any holes in your setup.</li>
            <li><strong>Marketers</strong>: Discover which tools power your niche’s top campaigns and add them to your arsenal.</li>
            <li><strong>Developers</strong>: Spot integration patterns and trending tech to build smarter solutions.</li>
            <li><strong>Consultants</strong>: Walk into client meetings with data-driven recommendations that scream expertise.</li>
          </ul>
          <div id="testimonial" class="square-card p-7 pt-0 my-14 max-w-[1000px] mx-auto">
              <div class="relative shrink-0 mb-5">
                  <Image src={NickPFP} alt='Nick profile pic' class='w-24 relative'></Image>
                  <div class="absolute w-full h-full top-0 bg-gradient-to-t from-neutral-800 via-50% via-transparent to-transparent"></div>
              </div>
              <blockquote class="mb-5 leading-normal p-0 border-0 text-xl"><span class="text-neutral-400">" </span>This did a great job at giving me insight into how some of my favorite sites are created, and has inspired me to build.<span class="text-neutral-400"> "</span></blockquote>
              <div>
                  <div class="text-neutral-300 text-pretty text-lg">Nick Hoban</div>
                  <div class="text-neutral-400 text-pretty text-lg">Web Developer 🇨🇦</div>
              </div>
          </div>
          <h2>Keeping It Ethical (and Free!)</h2>
          <p>Let’s address the elephant in the room: CRFT Lookup only scans publicly accessible data. No sneaking into private code or spilling sensitive secrets—it’s all above board, analyzing what’s already out there. Think of it as reading the label on a jar, not cracking it open.</p>
          <p>Oh, and did we mention it’s <em>free</em>? Yup, unlimited scans, no credit card required. How do they make money? By selling top-notch web design and development services, not by nickel-and-diming you for reports. Reports are shareable via unique URLs, saved for 30 days, and packed with all the juicy details—perfect for collaborating with your team or impressing a client.</p>

          <h2>The Fine Print on Shopify App Detection</h2>
          <p>Now, to clear up any confusion: CRFT Lookup doesn’t provide detailed app descriptions, pricing, or specific roles in the Shopify ecosystem for detected apps. Instead, it identifies the apps (like Klaviyo or Privy) and categorizes them based on their technical signatures. For deeper insights, you’ll need to research the apps yourself—but CRFT gives you the starting point.</p>
          <p>Its accuracy is solid, thanks to a regularly updated detection engine that cross-references multiple indicators. However, it can only spot apps with public-facing components—custom or heavily obfuscated setups might slip through.</p>

          <h2>Ready to Snoop?</h2>
          <p>Whether you’re a Shopify merchant plotting your next move, a developer hunting for tech inspiration, or just a curious web nerd, CRFT Lookup is your go-to tool for uncovering the tech behind any site. Fire up a scan, share the results, and start building smarter. Who knows? You might just discover the secret sauce that takes your site from “meh” to “marvelous.”</p>
          <p><a href="https://www.crft.studio/lookup">Scan a website now</a> and unleash your inner tech detective.</p>
    </div>

    <div slot="faqs">
        <FAQItem
            question="How does CRFT Lookup detect Shopify apps?"
            answer="CRFT Lookup utilizes advanced technology scanning capabilities to analyze a site's code, network requests, and technical signatures that Shopify apps leave behind when integrated into a store. When you input a URL, it performs a comprehensive scan to detect hundreds of popular apps like Klaviyo, Judge.me, Privy, and ReCharge."
        />
        <FAQItem
            question="What kind of apps can be detected?"
            answer="The tool can detect a wide range of Shopify apps across categories including marketing automation, reviews, upselling, subscription management, and more. It identifies apps that leave visible signatures in publicly accessible code while respecting privacy by not accessing private areas or configurations."
        />
        <FAQItem
            question="How accurate is the app detection?"
            answer="CRFT Lookup provides highly accurate results by analyzing multiple technical indicators that apps leave in a store's code. However, it only detects apps that have public-facing components and signatures - custom or private implementations may not be detectable."
        />
        <FAQItem
            question="What information is provided about detected apps?"
            answer="For each detected Shopify app, CRFT Lookup provides context about its functionality, typical cost range, and category within the Shopify ecosystem. This helps users understand not just which apps are present, but their purpose and value."
        />
        <FAQItem
            question="How can I use the app detection data?"
            answer="The app detection data can be used for competitive research, benchmarking technology stacks, identifying gaps in your own setup, making informed app selections, and understanding which tools drive success in your niche. It's valuable for merchants, developers, marketers and e-commerce professionals."
        />
    </div>
</LookupUseCase>
