---
import FAQItem from "./FAQItem.astro";
---
<FAQItem
    question="What's it like to work with you?"
    answer="If you already have a website, you may start by requesting a free audit here. Within 3 days, we'll send you a personalized, annotated redesign of a part of your website that can benefit from a rethink.<br><br>If you do not have a website, feel free to email us with a description of your business and what you're looking for in a new website.<br><br>Within 24 hours of your purchase of a plan, you'll receive an email inviting you to a newly created project within Basecamp (our project management software choice). This is where all future communication between us will take place. You'll be able to add to-do list items, ask questions, monitor our progress, provide feedback, and more."
/>

<FAQItem
    question="What do you build websites with?"
    answer="If you already have a website, you may start by requesting a free audit here. Within 3 days, we'll send you a personalized, annotated redesign of a part of your website that can benefit from a rethink.<br><br>If you do not have a website, feel free to email us with a description of your business and what you're looking for in a new website.<br><br>Within 24 hours of your purchase of a plan, you'll receive an email inviting you to a newly created project within Basecamp (our project management software choice). This is where all future communication between us will take place. You'll be able to add to-do list items, ask questions, monitor our progress, provide feedback, and more."
/>

<FAQItem
    question="Will I be able to edit my site's content?"
    answer="If you already have a website, you may start by requesting a free audit here. Within 3 days, we'll send you a personalized, annotated redesign of a part of your website that can benefit from a rethink.<br><br>If you do not have a website, feel free to email us with a description of your business and what you're looking for in a new website.<br><br>Within 24 hours of your purchase of a plan, you'll receive an email inviting you to a newly created project within Basecamp (our project management software choice). This is where all future communication between us will take place. You'll be able to add to-do list items, ask questions, monitor our progress, provide feedback, and more."
/>

<FAQItem
    question="Do you design more than websites?"
    answer="If you already have a website, you may start by requesting a free audit here. Within 3 days, we'll send you a personalized, annotated redesign of a part of your website that can benefit from a rethink.<br><br>If you do not have a website, feel free to email us with a description of your business and what you're looking for in a new website.<br><br>Within 24 hours of your purchase of a plan, you'll receive an email inviting you to a newly created project within Basecamp (our project management software choice). This is where all future communication between us will take place. You'll be able to add to-do list items, ask questions, monitor our progress, provide feedback, and more."
/>

<!-- <FAQItem
    question="How do I get started?"
    answer="If you already have a website, you may start by requesting a free audit here. Within 3 days, we'll send you a personalized, annotated redesign of a part of your website that can benefit from a rethink.<br><br>If you do not have a website, feel free to email us with a description of your business and what you're looking for in a new website.<br><br>Within 24 hours of your purchase of a plan, you'll receive an email inviting you to a newly created project within Basecamp (our project management software choice). This is where all future communication between us will take place. You'll be able to add to-do list items, ask questions, monitor our progress, provide feedback, and more."
/> -->

<FAQItem
    question="What's the typical length of a project?"
    answer="If you already have a website, you may start by requesting a free audit here. Within 3 days, we'll send you a personalized, annotated redesign of a part of your website that can benefit from a rethink.<br><br>If you do not have a website, feel free to email us with a description of your business and what you're looking for in a new website.<br><br>Within 24 hours of your purchase of a plan, you'll receive an email inviting you to a newly created project within Basecamp (our project management software choice). This is where all future communication between us will take place. You'll be able to add to-do list items, ask questions, monitor our progress, provide feedback, and more."
/>

<div class="text-center mt-6">
    <a href="mailto:jeremy@crft.studio" class="cursor-pointer text-lg underline">Missed your question? Send us an email.</a>
</div>
