---
import FAQItem from "./FAQItem.astro";
---
<FAQItem
    question="What is it like to work with you?"
    answer="We like to think of ourselves as an extension of your existing team. We use Basecamp as our project management software of choice, which handles all communication and acts as the door to all other services, like Payload CMS, which your team will use to edit website content. If you'd like to learn more about our values and way of work, visit our About Us page. Feel free to contact us with any questions you have, or request a free redesign of your website's hero section before kicking off a full-scale project."
/>

<FAQItem
    question="What do you build websites with?"
    answer="We build websites with <a class='text-orange-300 underline' href='https://astro.build/' target='_blank'>Astro</a>, an ultra-performant JS framework for content-driven sites. We normally deploy them using <a class='text-orange-300 underline' href='https://pages.cloudflare.com/' target='_blank'>Cloudflare Pages</a> for solid security, fast load times, and generous pricing tiers."
/>

<FAQItem
    question="Will I be able to edit my site's content?"
    answer="Yes. We'll set up <a class='text-orange-300 underline' href='https://payloadcms.com/' target='_blank'>PayLoad CMS</a> on our project to enable you and your team to edit all website content - you'll love it."
/>

<FAQItem
    question="Do you design more than websites?"
    answer="While our primary focus is website design and development, if you have the occasional social media post, email or ad for us to design, we certainly will not refuse."
/>

<FAQItem
    question="How do I get started?"
    answer="If you already have a website, you may start by requesting a <a class='text-orange-300 underline' href='/audit' target='_blank'>redesign of your hero section</a>. Within 3 days, We'll give you the free, personalized insights you need to boost your hero's conversion rate.<br><br>If you do not have a website, feel free to <a class='text-orange-300 underline' href='mailto:jeremy@crft.studio' target='_blank'>email us</a> with a description of your business and what you're looking for in a new website.<br><br>Within 24 hours of your purchase of a plan, you'll receive an email inviting you to a newly created project within Basecamp (our project management software choice). This is where all future communication between us will take place. You'll be able to add to-do list items, ask questions, monitor our progress, provide feedback, and more."
/>

<FAQItem
    question="What's the typical length of a project?"
    answer="It usually takes between 1 and 3 months to completely design and build a new website. Afterwards, you may pause or cancel your subscription, and continue maintaining your new website yourself via the PayLoad CMS integration we set up. On other occasions, some teams continue working with us indefinitely after launch, as they require ongoing design and development work. No matter the length of our project, we see ourselves as your an extension of your exisiting team, dedicated to designing and developing your website."
/>

<div class="text-center mt-6">
    <a href="mailto:jeremy@crft.studio" class="cursor-pointer text-lg underline">Missed your question? Send us an email.</a>
</div>
