---
import { Image } from 'astro:assets';
import JeremyPFP from '../images/jeremy-pfp.png';
import DavidPFP from '../images/david-pfp.png';
---
<footer class="bg-[#1C1A1A] py-10 border-t border-neutral-700">
    <div class="container mb-16">
        <div class="card p-5 flex md:flex-row flex-col gap-9 justify-between items-center">
            <div class="lg:px-5">
                <div class="flex flex-row items-center mb-4">
                    <Image src={JeremyPFP} alt="Jeremy pfp" class="rounded-full aspect-square object-cover w-[50px]"/>
                    <Image src={DavidPFP} alt="Jeremy pfp" class="rounded-full aspect-square w-[50px] object-cover -ml-3"/>
                </div>
                <div class="text-3xl text-pretty font-medium mb-2">Tell us about your website</div>
                <div class="text-lg text-pretty">See what a redesigned, lightning-fast website can do for your business.</div>
            </div>

            <div>
                <div class="flex md:flex-row flex-col gap-3 lg:max-w-[600px]">
                    <a href="/pricing" class="card p-5 text-lg hover:-translate-y-1 transition-all">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#D4D4D4"><path d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z"/></svg>
                        <div class="font-normal leading-normal mb-2 mt-3">Find out which plan works best for your project</div>
                        <div class="text-orange-300">Learn about pricing →</div>
                    </a>
                    <a href="/audit" class="card p-5 text-lg hover:-translate-y-1 transition-all">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#D4D4D4"><path d="m352-522 86-87-56-57-44 44-56-56 43-44-45-45-87 87 159 158Zm328 329 87-87-45-45-44 43-56-56 43-44-57-56-86 86 158 159Zm24-567 57 57-57-57ZM290-120H120v-170l175-175L80-680l200-200 216 216 151-152q12-12 27-18t31-6q16 0 31 6t27 18l53 54q12 12 18 27t6 31q0 16-6 30.5T816-647L665-495l215 215L680-80 465-295 290-120Zm-90-80h56l392-391-57-57-391 392v56Zm420-419-29-29 57 57-28-28Z"/></svg>
                        <div class="font-normal leading-normal mb-2 mt-3">Kick things off with a free redesign of your website's hero</div>
                        <div class="text-orange-300">Get a free hero redesign →</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="flex flex-row justify-between flex-wrap lg:flex-nowrap">
            <div class="w-full mb-8">
                <a href="/">
                    <svg width="133" height="24" viewBox="0 0 133 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.31838 11.7745C7.31838 7.88243 9.26441 6.09591 17.4633 6.09591C22.4719 6.09591 27.672 6.98917 31.4046 7.72292L32.553 2.33145C28.1186 1.31058 22.5038 0.544922 17.24 0.544922C5.30853 0.544922 0.842224 4.4689 0.842224 11.7745C0.842224 19.0801 5.30853 23.036 17.24 23.036C22.5038 23.036 28.1186 22.2703 32.553 21.2495L31.4046 15.858C27.672 16.5917 22.4719 17.485 17.4633 17.485C9.26441 17.485 7.31838 15.6985 7.31838 11.7745ZM41.5098 22.6213V16.3046H49.7725L57.5885 22.6213H65.7236L58.5775 17.0065L56.8548 15.9537L58.2585 15.9218C63.0757 15.539 65.915 13.242 65.915 8.45667C65.915 2.74618 62.1824 0.863943 56.8229 0.863943H35.0336V22.6213H41.5098ZM41.5098 6.41493H56.1848C58.3223 6.41493 59.2155 7.02107 59.2155 8.96711C59.2155 10.7536 58.3223 11.4555 56.1848 11.4555H41.5098V6.41493ZM75.219 22.6213V15.5071H97.168V10.4027H75.219V6.41493H97.7741V0.863943H68.7428V22.6213H75.219ZM112.793 6.41493V22.6213H119.269V6.41493H132.158V0.863943H99.8728V6.41493H112.793Z" fill="white"/>
                    </svg>
                </a>
                <div class="mt-5 lg:max-w-[40ch] text-pretty mb-3">We design and develop beautiful, performant, and maintainable websites for the best marketing teams.</div>
                <a href="/pricing" class="text-orange-300">Get Started →</a>
            </div>

            <div class="flex flex-row gap-14">
                <div class="flex flex-col gap-4 max-w-96">
                    <a href="/#services" class="text-neutral-300">Services</a>
                    <a href="/customers" class="text-neutral-300">Customers</a>
                    <a href="/about-us" class="text-neutral-300">About Us</a>
                    <a href="/pricing" class="text-neutral-300">Pricing</a>
                    <a href="/glossary" class="text-neutral-300">Glossary</a>
                </div>

                <div class="flex flex-col gap-4 max-w-96">
                    <a href="/lookup" class="flex flex-row gap-2 items-center">
                        <div class="text-neutral-300">Lookup</div>
                        <div class="square-card px-2 py-0 bg-neutral-700 text-sm">New</div>
                    </a>
                    <a href="/blog" class="text-neutral-300">Blog</a>
                    <a href="/#faq" class="text-neutral-300">FAQ</a>
                    <a href="mailto:jeremy@crft.studio" class="text-neutral-300 text-nowrap">Contact Us</a>
                    <a href="https://billing.stripe.com/p/login/8wM5mq6kH2nvgx2aEE" target="_blank" class="text-neutral-300 text-nowrap">Manage Billing</a>
                </div>
            </div>
        </div>

        <div class="h-[1px] w-full bg-neutral-600 mt-14 mb-4"></div>

        <div class="flex flex-row justify-between text-neutral-400 flex-wrap gap-5">
            <div>© 2025 CRFT Studio. All rights reserved.</div>
            <div class="flex gap-x-8 gap-y-3 flex-wrap">
                <a class="text-nowrap" href="/terms-of-service">Terms of Service</a>
                <a class="text-nowrap" href="/privacy-policy">Privacy Policy</a>
                <a class="text-nowrap" href="/acceptable-use">Acceptable Use Policy</a>
            </div>
        </div>
    </div>

</footer>
