---

---
<footer class="bg-neutral-800 py-10">
    <div class="container">
        <div class="flex flex-row justify-between flex-wrap lg:flex-nowrap">
            <div class="w-full mb-8">
                <a href="/">
                    <svg width="133" height="24" viewBox="0 0 133 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.31838 11.7745C7.31838 7.88243 9.26441 6.09591 17.4633 6.09591C22.4719 6.09591 27.672 6.98917 31.4046 7.72292L32.553 2.33145C28.1186 1.31058 22.5038 0.544922 17.24 0.544922C5.30853 0.544922 0.842224 4.4689 0.842224 11.7745C0.842224 19.0801 5.30853 23.036 17.24 23.036C22.5038 23.036 28.1186 22.2703 32.553 21.2495L31.4046 15.858C27.672 16.5917 22.4719 17.485 17.4633 17.485C9.26441 17.485 7.31838 15.6985 7.31838 11.7745ZM41.5098 22.6213V16.3046H49.7725L57.5885 22.6213H65.7236L58.5775 17.0065L56.8548 15.9537L58.2585 15.9218C63.0757 15.539 65.915 13.242 65.915 8.45667C65.915 2.74618 62.1824 0.863943 56.8229 0.863943H35.0336V22.6213H41.5098ZM41.5098 6.41493H56.1848C58.3223 6.41493 59.2155 7.02107 59.2155 8.96711C59.2155 10.7536 58.3223 11.4555 56.1848 11.4555H41.5098V6.41493ZM75.219 22.6213V15.5071H97.168V10.4027H75.219V6.41493H97.7741V0.863943H68.7428V22.6213H75.219ZM112.793 6.41493V22.6213H119.269V6.41493H132.158V0.863943H99.8728V6.41493H112.793Z" fill="white"/>
                    </svg>
                </a>
                <div class="mt-5 lg:max-w-[40ch] text-pretty mb-3">We design and develop beautiful, performant, and maintainable websites for the best marketing teams.</div>
                <a href="/pricing" class="text-orange-300">Get Started →</a>
            </div>

            <div class="flex flex-row gap-14">
                <div class="flex flex-col gap-4 max-w-96">
                    <a href="/#services" class="text-neutral-300">Services</a>
                    <a href="/customers" class="text-neutral-300">Customers</a>
                    <a href="/about-us" class="text-neutral-300">About Us</a>
                    <a href="/pricing" class="text-neutral-300">Pricing</a>
                </div>

                <div class="flex flex-col gap-4 max-w-96">
                    <a href="/blog" class="text-neutral-300">Blog</a>
                    <a href="/#faq" class="text-neutral-300">FAQ</a>
                    <a href="mailto:jeremy@crft.studio" class="text-neutral-300 text-nowrap">Contact Us</a>
                    <a href="https://billing.stripe.com/p/login/8wM5mq6kH2nvgx2aEE" target="_blank" class="text-neutral-300 text-nowrap">Manage Billing</a>
                </div>
            </div>
        </div>

        <div class="h-[1px] w-full bg-neutral-600 mt-14 mb-4"></div>

        <div class="flex flex-row justify-between text-neutral-400 flex-wrap gap-5">
            <div>© 2024 CRFT Studio. All rights reserved.</div>
            <div class="flex gap-x-8 gap-y-3 flex-wrap">
                <a class="text-nowrap" href="/terms-of-service">Terms of Service</a>
                <a class="text-nowrap" href="/privacy-policy">Privacy Policy</a>
                <a class="text-nowrap" href="/acceptable-use">Acceptable Use Policy</a>
            </div>
        </div>
    </div>

</footer>
