---
import GlossaryLetter from "./GlossaryLetter.astro";
const { highlightedLetter, vertical } = Astro.props;
const alphabet = [...'ABCDEFGHIJKLMNOPQRSTUVWXYZ'];
---
<div style="scrollbar-width: thin;" class={`relative w-auto inline-flex ${vertical ? "flex-col overflow-y-auto max-h-[80vh] rounded-md" : "flex-row overflow-x-auto max-w-full"} gap-2 items-center bg-neutral-800 border border-neutral-700 p-1`}>
    {alphabet.map(letter =>
        <a href={`/glossary#${letter}`}>
            <GlossaryLetter highlighted={highlightedLetter === letter}>
                <slot>
                    <div>
                        {letter}
                    </div>
                </slot>
            </GlossaryLetter>
        </a>
    )}
</div>
