---
const { highlighted } = Astro.props;
---
<div class={`px-1 w-6 text-center border ${highlighted ? "bg-neutral-700 border-neutral-600" : "border-transparent hover:bg-neutral-700 hover:border-neutral-600"} rounded-sm cursor-pointer`}>
    <slot>
</div>
