<div class="container">
    <div class="max-w-[800px] mx-auto">
        <div class="text-orange-300 text-lg mb-3 text-pretty text-center">How we work</div>
        <h2 class="text-3xl lg:text-4xl font-medium leading-tight text-balance text-center">A structured approach to web design and development</h2>
        <p class="text-lg font-normal text-neutral-200 mt-5 text-pretty max-w-4xl mx-auto text-center">We break down our projects into phases, each with specific deliverables and milestones. Every project is different, but from kickoff to launch, you'll know what to expect and when to expect it. Below is our estimate of our typical project's timeline. For an estimate specific to your business, <span><a href="/contact-us" class="text-orange-300 underline">contact us</a></span>.</p>
    </div>
    <div class="mt-10 flex flex-col gap-14">
        <div class="grid lg:grid-cols-[0.2fr_1fr] gap-8 text-lg">
            <div>
                <div class="sticky top-28 text-neutral-400">Onboarding</div>
            </div>
            <div>
                <div class="mb-3 text-neutral-100">Today</div>
                <div class="square-card border-b-0">
                    <div class="text-lg">Subscription begun</div>
                </div>
                <div class="square-card border-b-0">
                    <div class="text-lg">Basecamp project invite sent</div>
                </div>
                <div class="square-card border-b-0">
                    <div class="text-lg">Kick-off meeting (optional)</div>
                </div>
                <div class="square-card">
                    <div class="text-lg">We scan your website using the <span><a href="/lookup" class="text-orange-300 underline">CRFT Lookup</a></span>, to see its Lighthouse score, tech stack, sitemap visualization and meta tags.</div>
                </div>
            </div>
        </div>
        <div class="grid lg:grid-cols-[0.2fr_1fr] gap-8 text-lg">
            <div>
                <div class="sticky top-28 text-neutral-400">Visual Brand Identity</div>
            </div>
            <div>
                <div class="mb-3 text-neutral-100">1 - 3 weeks</div>
                <div class="square-card border-b-0">
                    <div class="text-lg">Logo, wordmark and icon redesign (optional)</div>
                </div>
                <div class="square-card border-b-0">
                    <div class="text-lg">Color palette selection</div>
                </div>
                <div class="square-card border-b-0">
                    <div class="text-lg">Typeface selection</div>
                </div>
                <div class="square-card">
                    <div class="text-lg">Creation of marketing collateral (optional)</div>
                </div>
            </div>
        </div>
        <div class="grid lg:grid-cols-[0.2fr_1fr] gap-8 text-lg">
            <div>
                <div class="sticky top-28 text-neutral-400">Web Design</div>
            </div>
            <div>
                <div class="mb-3 text-neutral-100">1 - 2 weeks</div>
                <div class="square-card mb-2">
                    <div class="text-lg">Identify and wireframe core pages</div>
                </div>
                <div class="text-neutral-400">We limit our use of vector design tools like Figma beyond initial ideation, and build high-fidelity designs in code. This allows us to collaborate and drive results for your business much faster than otherwise possible.</div>
            </div>
        </div>
        <div class="grid lg:grid-cols-[0.2fr_1fr] gap-8 text-lg">
            <div>
                <div class="sticky top-28 text-neutral-400">Web Development</div>
            </div>
            <div>
                <div class="mb-3 text-neutral-100">4 - 8 weeks</div>
                <div class="square-card border-b-0">
                    <div class="text-lg">Creation of code repository</div>
                </div>
                <div class="square-card border-b-0">
                    <div class="text-lg">High fidelity, responsive design and development of core pages & components</div>
                </div>
                <div class="square-card border-b-0">
                    <div class="text-lg">Content migration and setup of Payload, our CMS of choice</div>
                </div>
                <div class="square-card border-b-0">
                    <div class="text-lg">We write and/or collaborate on new copy for every page</div>
                </div>
                <div class="square-card border-b-0">
                    <div class="text-lg">Integration of third-party tools (e.g. analytics, cookie consent, etc)</div>
                </div>
                <div class="square-card">
                    <div class="text-lg">DNS configuration and launch</div>
                </div>
            </div>
        </div>
        <div class="grid lg:grid-cols-[0.2fr_1fr] gap-8 text-lg">
            <div>
                <div class="sticky top-28 text-neutral-400">Website Maintenance</div>
            </div>
            <div>
                <div class="mb-3 text-neutral-100">Ongoing (or optional/as-needed)</div>
                <div class="square-card border-b-0">
                    <div class="text-lg">Performance optimization and speed enhancements</div>
                </div>
                <div class="square-card border-b-0">
                    <div class="text-lg">Security monitoring and updates</div>
                </div>
                <div class="square-card border-b-0">
                    <div class="text-lg">New landing page creation</div>
                </div>
                <div class="square-card border-b-0">
                    <div class="text-lg">Analytics monitoring and reporting</div>
                </div>
                <div class="square-card">
                    <div class="text-lg">24/7 technical support</div>
                </div>
            </div>
        </div>
    </div>
</div>
