---
import { Image } from 'astro:assets';
import NickPFP from '../images/nick-pfp-new.png';
---
<div class="container">
    <div class="square-card mb-7 max-w-[1000px] mx-auto">
        <div class="inline-block py-2 px-3 rounded-tl-none lg:text-2xl text-xl">
            <div class="relative shrink-0 mb-5">
                <Image src={NickPFP} alt='Nick profile pic' class='w-24 relative'></Image>
                <div class="absolute w-full h-full top-0 bg-gradient-to-t from-neutral-800 via-50% via-transparent to-transparent"></div>
            </div>
            <blockquote class="mb-5 leading-normal"><span class="text-neutral-400">" </span>This did a great job at giving me insight into how some of my favorite sites are created, and has inspired me to build.<span class="text-neutral-400"> "</span></blockquote>
            <div>
                <div class="text-neutral-300 text-pretty text-lg font-medium">Nick Hoban</div>
                <div class="text-neutral-400 text-pretty text-lg">Web Developer 🇨🇦</div>
            </div>
        </div>
    </div>
</div>
