---

---
<div class="lg:block hidden bg-neutral-800 border-b border-neutral-700 sticky top-[66px] z-50">
    <div class="container flex flex-row gap-5 py-1 text-neutral-300">
        <div class="flex flex-row gap-4">
            <a class="text-orange-300 font-medium" href="">CRFT Lookup</a>
            <svg class="fill-orange-300" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </div>
        <div class="flex flex-row gap-10">
            <a href="/lookup/gallery">Gallery</a>
            <a href="/lookup#features">Features</a>
            <a href="/lookup/alternatives">Comparisons</a>
        </div>
    </div>
</div>
