---
import '../../src/styles/global.css';
---
<nav class="sticky top-0 z-50 border-b-[1px] border-neutral-700 bg-neutral-900 bg-opacity-80 backdrop-blur-md">
    <div id="bgOverlay" class="fixed opacity-0 w-screen h-screen bg-neutral-950 bg-opacity-60 z-[98] transition-all pointer-events-none"></div>
    <div class="container lg:py-5 py-4">
        <div class="flex flex-row justify-between align-middle gap-8">
            <div class="flex flex-row align-middle gap-7 items-center">
                <a href="/" class="nav-link"><svg width="110" height="23" viewBox="0 0 132 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.47615 11.5709C6.47615 7.67882 8.42219 5.8923 16.6211 5.8923C21.6297 5.8923 26.8298 6.78556 30.5623 7.51931L31.7108 2.12783C27.2764 1.10696 21.6616 0.341309 16.3977 0.341309C4.46631 0.341309 0 4.26528 0 11.5709C0 18.8765 4.46631 22.8324 16.3977 22.8324C21.6616 22.8324 27.2764 22.0667 31.7108 21.0459L30.5623 15.6544C26.8298 16.3881 21.6297 17.2814 16.6211 17.2814C8.42219 17.2814 6.47615 15.4949 6.47615 11.5709ZM40.6676 22.4176V16.101H48.9303L56.7463 22.4176H64.8814L57.7353 16.8029L56.0125 15.7501L57.4162 15.7182C62.2335 15.3354 65.0728 13.0384 65.0728 8.25306C65.0728 2.54256 61.3402 0.66033 55.9806 0.66033H34.1914V22.4176H40.6676ZM40.6676 6.21132H55.3426C57.48 6.21132 58.3733 6.81746 58.3733 8.7635C58.3733 10.55 57.48 11.2519 55.3426 11.2519H40.6676V6.21132ZM74.3768 22.4176V15.3035H96.3257V10.1991H74.3768V6.21132H96.9319V0.66033H67.9006V22.4176H74.3768ZM111.951 6.21132V22.4176H118.427V6.21132H131.316V0.66033H99.0305V6.21132H111.951Z" fill="white"/>
                </svg></a>
                <div class="hidden lg:block">
                    <a href="/about" class="nav-link px-5">Services</a>
                    <a href="/about" class="nav-link px-5">Customers</a>
                    <a href="/about" class="nav-link px-5">About Us</a>
                    <a href="/about" class="nav-link px-5">Pricing</a>
                    <a href="/about" class="nav-link px-5">Blog</a>
                </div>
            </div>

            <div class="lg:flex flex-row align-middle gap-4 hidden">
                <a href="/about" class="nav-link px-5">Login</a>
                <a href="/about" class="nav-link px-5">Contact Us</a>
            </div>

            <div id="mobileNavBtn" class="w-8 aspect-square border-[1px] bg-neutral-900 bg-opacity-35 border-neutral-700 rounded-md p-2 flex flex-col justify-center gap-1 lg:hidden">
                <div class="h-[1px] w-full bg-neutral-500"></div>
                <div class="h-[1px] w-full bg-neutral-500"></div>
                <div class="h-[1px] w-full bg-neutral-500"></div>
            </div>
        </div>
    </div>
</nav>

<div id="mobileNav" class="card p-6 fixed bottom-0 w-full z-[99] rounded-b-none border-b-0 transition-all duration-[250ms] translate-y-[35rem]">
    <div class="flex flex-col gap-2 font-normal">
        <div class="flex flex-row justify-between items-center">
            <div class="text-lg">Go home</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </div>
        <div class="h-[1px] w-full bg-neutral-700 my-3"></div>
        <div class="flex flex-row justify-between items-center">
            <div class="text-lg">Services</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </div>
        <div class="flex flex-row justify-between items-center">
            <div class="text-lg">Customers</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </div>
        <div class="flex flex-row justify-between items-center">
            <div class="text-lg">About Us</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </div>
        <div class="flex flex-row justify-between items-center">
            <div class="text-lg">Pricing</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </div>
        <div class="h-[1px] w-full bg-neutral-700 my-3"></div>
        <div class="flex flex-row justify-between items-center">
            <div class="text-lg">FAQ</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </div>
        <div class="flex flex-row justify-between items-center">
            <div class="text-lg">Blog</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </div>
        <div class="flex flex-row justify-between items-center">
            <div class="text-lg">Manage Billing</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </div>
        <button class="primary-cta text-base font-medium mt-5 mb-2">View pricing</button>
        <div class="text-center text-base">Contact Us</div>
    </div>
</div>

<script>
    import $ from "jquery";
    $(() => {
        $("#mobileNavBtn, #bgOverlay").click(() => {
            $("#bgOverlay").toggleClass("opacity-0 pointer-events-none");
            $("#mobileNav").toggleClass("translate-y-[35rem]");
            $("body").toggleClass("overflow-y-hidden");
        });
    });
</script>
