---
import '../../src/styles/global.css';
---
<nav class="sticky top-0 z-50 border-b-[1px] border-neutral-700 bg-neutral-900/80 backdrop-blur-md">
    <div id="bgOverlay" class="fixed opacity-0 w-screen h-screen bg-neutral-950/60 z-[98] transition-all pointer-events-none"></div>
    <!-- <a href="/lookup" class="flex flex-row gap-3 items-center justify-center border-b border-neutral-700 py-2 bg-gradient-to-r from-transparent via-orange-300/30 to-transparent">
        <div class="square-card px-2 py-0 bg-neutral-700">New</div>
        <div class="text-neutral-50 hover:text-orange-300 transition-all">Introducing: CRFT Lookup →</div>
    </a> -->
    <div class="container lg:py-4 py-3">
        <div class="flex flex-row justify-between align-middle gap-8">
            <div class="flex flex-row align-middle gap-7 items-center">
                <a href="/" class="nav-link"><svg class="lg:w-[110px] lg:h-[23px] w-[90px]" viewBox="0 0 132 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.47615 11.5709C6.47615 7.67882 8.42219 5.8923 16.6211 5.8923C21.6297 5.8923 26.8298 6.78556 30.5623 7.51931L31.7108 2.12783C27.2764 1.10696 21.6616 0.341309 16.3977 0.341309C4.46631 0.341309 0 4.26528 0 11.5709C0 18.8765 4.46631 22.8324 16.3977 22.8324C21.6616 22.8324 27.2764 22.0667 31.7108 21.0459L30.5623 15.6544C26.8298 16.3881 21.6297 17.2814 16.6211 17.2814C8.42219 17.2814 6.47615 15.4949 6.47615 11.5709ZM40.6676 22.4176V16.101H48.9303L56.7463 22.4176H64.8814L57.7353 16.8029L56.0125 15.7501L57.4162 15.7182C62.2335 15.3354 65.0728 13.0384 65.0728 8.25306C65.0728 2.54256 61.3402 0.66033 55.9806 0.66033H34.1914V22.4176H40.6676ZM40.6676 6.21132H55.3426C57.48 6.21132 58.3733 6.81746 58.3733 8.7635C58.3733 10.55 57.48 11.2519 55.3426 11.2519H40.6676V6.21132ZM74.3768 22.4176V15.3035H96.3257V10.1991H74.3768V6.21132H96.9319V0.66033H67.9006V22.4176H74.3768ZM111.951 6.21132V22.4176H118.427V6.21132H131.316V0.66033H99.0305V6.21132H111.951Z" fill="white"/>
                </svg></a>
                <div class="hidden lg:flex lg:flex-row">
                    <a href="/#services" class="nav-link px-5">Services</a>
                    <a href="/customers" class="nav-link px-5">Customers</a>
                    <a href="/about-us" class="nav-link px-5">About Us</a>
                    <a href="/pricing" class="nav-link px-5">Pricing</a>
                    <div id="navDropdown" class="nav-link px-5 flex flex-col relative group">
                        <div class="flex flex-row gap-1.5 items-center">
                            <div class="flex flex-row gap-1.5 items-center">
                                <div>Resources</div>
                                <div class="rounded-full w-2 h-2 bg-sky-400 translate-y-[2px]"></div>
                            </div>
                            <svg id="dropdownArrow" class="translate-y-[2px] group-hover:rotate-180 transition-transform" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M480-357.85 253.85-584 296-626.15l184 184 184-184L706.15-584 480-357.85Z"/></svg>
                        </div>
                        <div class="absolute">
                            <div id="dropdownCard" class="square-card translate-y-10 p-2 px-3 flex flex-col gap-2 opacity-0 pointer-events-none group-hover:opacity-100 group-hover:pointer-events-auto transition-all">
                                <a href="/blog" class="nav-link">Blog</a>
                                <a href="/glossary" class="nav-link">Glossary</a>
                                <a href="/lookup" class="flex flex-row gap-2 items-center">
                                    <div class="nav-link">Lookup</div>
                                    <div class="square-card px-2 py-0 bg-neutral-700 text-sm">New</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lg:flex flex-row items-center align-middle gap-1 hidden">
                <a href="/contact-us" class="nav-link px-5">Contact Us</a>
                <a href="/audit" class="primary-cta py-1 px-2">Get Free Redesign</a>
            </div>

            <div class="lg:hidden flex gap-2">
                <a href="/audit" class="primary-cta flex py-0 px-2 text-sm items-center justify-center lg:hidden">Get Free Redesign</a>
                <div id="mobileNavBtn" class="w-8 aspect-square border-[1px] bg-neutral-900/35 border-neutral-600 p-2 flex flex-col justify-center gap-1 lg:hidden">
                    <div class="h-[1px] w-full bg-neutral-400"></div>
                    <div class="h-[1px] w-full bg-neutral-400"></div>
                    <div class="h-[1px] w-full bg-neutral-400"></div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div id="mobileNav" class="square-card p-6 fixed bottom-0 w-full z-[99] rounded-b-none border-b-0 transition-all duration-[250ms] translate-y-[40rem]">
    <div class="flex flex-col gap-2 font-normal">
        <a href="/" class="flex flex-row justify-between items-center">
            <div class="text-lg">Go home</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </a>
        <div class="h-[1px] w-full bg-neutral-700 my-3"></div>
        <a href="/#services" class="flex flex-row justify-between items-center">
            <div class="text-lg">Services</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </a>
        <a href="/customers" class="flex flex-row justify-between items-center">
            <div class="text-lg">Customers</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </a>
        <a href="/about-us" class="flex flex-row justify-between items-center">
            <div class="text-lg">About Us</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </a>
        <a href="/contact-us" class="flex flex-row justify-between items-center">
            <div class="text-lg">Contact Us</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </a>
        <a href="/glossary" class="flex flex-row justify-between items-center">
            <div class="text-lg">Glossary</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </a>
        <a href="/lookup" class="flex flex-row justify-between items-center">
            <div class="flex flex-row gap-2 items-center">
                <div class="text-lg">Lookup</div>
                <div class="square-card px-2 py-0 bg-neutral-700">New</div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </a>
        <div class="h-[1px] w-full bg-neutral-700 my-3"></div>
        <a href="/#faq" class="flex flex-row justify-between items-center">
            <div class="text-lg">FAQ</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </a>
        <a href="/blog" class="flex flex-row justify-between items-center">
            <div class="text-lg">Blog</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </a>
        <a href="https://billing.stripe.com/p/login/8wM5mq6kH2nvgx2aEE" target="_blank" class="flex flex-row justify-between items-center">
            <div class="text-lg">Manage Billing</div>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="m517.85-480-184-184L376-706.15 602.15-480 376-253.85 333.85-296l184-184Z"/></svg>
        </a>
        <a href="/pricing" class="primary-cta text-base text-center font-medium mt-5 mb-2">View pricing</>
        <a href="/audit" class="text-center text-base">Get Free Hero Redesign</>
    </div>
</div>

<script>
    import $ from "jquery";
    $(() => {
        $("#mobileNavBtn, #bgOverlay").click(() => {
            $("#bgOverlay").toggleClass("opacity-0 pointer-events-none");
            $("#mobileNav").toggleClass("translate-y-[40rem]");
            $("body").toggleClass("overflow-y-hidden");
        });
    });
</script>
