---
import { Image } from 'astro:assets';
import NihalPFP from '../../src/images/nihal-pfp.png';
import PietroPFP from '../../src/images/pietro-pfp.png';
---
<section>
    <div class="container">
        <h2 class="text-3xl lg:text-4xl font-semibold leading-tight text-center text-pretty mb-16">What our customers say</h2>
        <div class="grid lg:grid-cols-[0.5fr_1fr] lg:gap-14 gap-10 mb-16 align-top">
            <div class="flex flex-col items-center">
                <Image src={NihalPFP} class='w-80 mb-6' alt="Nihal portrait" />
                <div class="text-2xl font-medium text-pretty mb-2">Nihal Mandanna, CP</div>
                <div class="text-base font-normal text-neutral-300 text-pretty text-center">Head of Growth @ MobiLoud</div>
            </div>

            <blockquote class="square-card p-8 self-start">
                <div class="flex flex-row gap-1 mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFED02"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFED02"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFED02"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFED02"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFED02"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"/></svg>
                </div>
                <p class="font-medium text-lg mb-3 text-pretty">I stumbled across CRFT Studio on a random Twitter thread and can honestly say that finding Jeremy was a stroke of luck!</p>
                <p class="font-medium text-lg mb-3 text-pretty">Working with Jeremy on our website design was an awesome experience and everything from start to finish felt like a breeze. He's a skilled designer and fantastic person to work with.</p>
                <p class="font-medium text-lg mb-3 text-pretty">What really stands out is how approachable yet knowledgeable he is. </p>
                <p class="font-medium text-lg mb-3 text-pretty">On top of that, his organization and communication are top-notch! He kept us updated every step of the way, and always took the time to explain complex concepts and issues in simple terms so we could provide our feedback without having to stumble through web dev jargon. </p>
                <p class="font-medium text-lg mb-3 text-pretty">At no point did we feel like we were "just another project" in his portfolio. Jeremy took the time to genuinely listen to our ideas and understand our business goals. It was really great to see that he cared about our project just as much as we did. No matter what we sent his way, he was always up for the challenge and often delivered custom coded solutions that blew our expectations out of the water. </p>
                <p class="font-medium text-lg text-pretty">If you're looking for someone who handles themselves like an extension of your team, and not just a consultant, I highly recommend Jeremy and the team at CRFT!</p>
            </blockquote>
        </div>

        <blockquote class="flex flex-col-reverse lg:grid lg:grid-cols-[1fr_0.75fr] lg:gap-20 gap-10 align-top">
            <div class="square-card p-8 self-start">
                <div class="flex flex-row gap-1 mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFED02"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFED02"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFED02"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFED02"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"/></svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFED02"><path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"/></svg>
                </div>
                <p class="font-medium text-lg mb-3 text-pretty">I can't say enough about how thrilled we are with the website Jeremy created for MobiLoud!</p>
                <p class="font-medium text-lg mb-3 text-pretty">He took our complex marketing site and transformed it into a stunning online presence that we absolutely love.</p>
                <p class="font-medium text-lg mb-3 text-pretty">Jeremy is not just a whiz with Webflow, but also a skilled designer with an eye for great user experience.</p>
                <p class="font-medium text-lg text-pretty">He was an absolute breeze to work with, making the process enjoyable from start to finish. If you need a Webflow expert, Jeremy is your guy!</p>
            </div>

            <div class="flex flex-col items-center">
                <Image src={PietroPFP} class='lg:w-80 mb-6' alt="Pietro portrait" />
                <div class="text-2xl font-medium text-pretty mb-2">Pietro Saccomanni</div>
                <div class="text-base font-normal text-neutral-300 text-pretty text-center">CEO @ MobiLoud & FeedBear, Co-founder @ MixBloom</div>
            </div>
        </blockblockquote>
</section>
