---
import HeadScripts from "../components/HeadScripts.astro";
import Navigation from "../components/Navigation.astro";
---
<html lang="en">
    <head>
        <HeadScripts
        title=""
        description=""
        />
    </head>
    <body>
        <Navigation/>
    </body>
</html>
