---
import HeadScripts from "../components/HeadScripts.astro";
---
<html lang="en">
    <head>
        <HeadScripts
        title=""
        description=""
        />
    </head>
    <body>

    </body>
</html>
